@import "variable";
@import "mixin";
@import "handler";
@import "util";

#container{ height: 4614px;}

#carousel,#activity,#womanShop,#sportShop,#manShop,#outdoorShop,#clotheShop,#childShop,#focus,#trifle{ width: 100%;
  div{ width: 1200px; margin: 0 auto;}
}

#carousel{height: 390px;
  div{ height: 390px; position: relative; overflow: hidden; width: 1263px;
    ul{ position: absolute; li{ @include dis-flo(left);}}
    .c-album1{ top: 0px; left: 0px; height: 390px; width: 8841px;
      li{ height: 390px; width: 1263px;}
    }
    .c-album2{ bottom: 15px; left: 250px; height: 13px;
      li{@include baseSet(13,13,5,'','','',white,'','','');
        &:hover{ background-color: $logoRed;}
      }
    }
  }
}

#activity{ height: 330px;
  div{
    .a-head, .a-bottom{ margin-left: 210px;}
    .a-head{@include baseSet(30,990,'','','','',#e6e1e1,'','','');
      ul{ @include dis-flo(left); width: 402px; height: 30px;
        li{ @include dis-flo(left); @include baseSet(30,134,'','','','','','',14,'');
          &:hover{ background-color: white;}
          a{ display: block; @include baseSet(14,133,'',8,'','','','',14,'');
            border-right: 1px solid $grey; text-align: center;}
        }
      }
      button{ @include dis-flo(right); margin-right: 7px;
        @include baseSet(20,46,'',5,'','',white,'',12,20); text-align: center; border:1px solid $grey;
        &:hover{ color: $logoRed; border: 1px solid $logoRed;}}
    }
    .a-bottom{ width: 988px; height: 299px; border: 1px solid $grey; border-top:none; overflow: hidden;
      table{@include baseSet(281,970,9,9,'','','','','',''); border-collapse: collapse;
        border: none; td{ width: 324px; height: 140px; border: 1px solid $grey;
        dl{
          dd,dt{ @include dis-flo(left); @include baseSet(100,140,12,20,'','','','','','')}
          dd{width: 104px; a{ display: block;}
            .a-price{ @include baseSet(22,104,12,'','','','',$logoRed,8,''); span{ font-weight: bold; font-size: 20px;}}
            .a-original{@include baseSet(8,104,12,6,'','','',$grey,8,''); }
            .a-name{@include baseSet(12,104,12,6,'','','',$grey,12,'');}
            .a-slogan{@include baseSet(30,104,'',6,'','',$logoRed,white,14,30); text-align: center;}
          }
        }
      };
        .a-shoe1,.a-shoe2,.a-shoe3{ border-top:none;}
        .a-shoe4,.a-shoe5,.a-shoe6{ border-bottom:none;}
        .a-shoe1,.a-shoe4{ border-left: none;} .a-shoe3,.a-shoe6{ border-right: none;}
      }
    }
  }
}

#womanShop,#sportShop,#manShop,#outdoorShop,#clotheShop,#childShop{ height: 450px; margin-top: 20px;
  div{ height: 450px;
    .kind,.intro{ width: 1200px;}
    .kind { height: 36px;
      ul,button{@include dis-flo(right);}
      .shop-name {@include dis-flo(left); @include baseSet(36,110,'','','','','','',18,36);
        img{@include dis-flo(left);}}
      ul {@include baseSet(36,'','','','','','','',12,36); margin-right: 5px;
        li{@include dis-flo(left); @include baseSet(12,'','',12,8,'','','',12,12);
          &:hover{ color: $logoRed;} padding-right: 8px; border-right: 1px solid $grey;
          .kind-end{ border: none;}
        }
      }
      button{ margin-right: 0px; @include baseSet(20,46,'',9,'','',white,$grey,12,20); text-align: center; border:1px solid $grey;
        &:hover{ color: $logoRed; border: 1px solid $logoRed;}}
    }
    .intro{ height: 408px; border-top: 4px solid $grey;
      .left,.middle,.right{ height: 408px; @include dis-flo(left);}
      .left{ width: 210px;}
      .middle{ width: 730px;  height: 408px;
        table{ border: none; border-collapse: collapse;
          td{ width: 242px; border: solid 1px $grey;position: relative;
            dl{position: relative;@include baseSet('',225,15,15,'','','','','','');
              dt,dd{ width: 215px;}
          .p3{ font-size: 20px; font-weight: bold; color: #c82f27;} .p2,.p1{ color: #8e8e8e; font-size: 14px;} .p1{ color: #4c4c4c;}
            }
          }
          .td1, .td2, .td3{ height: 273px; border-top: none;
            dl{height: 252px; dt{ height: 165px;};dd{ height: 85px;}}
          }
          .td4, .td5, .td6{ height: 134px; img{ margin-left: 119px;}
            .p4,.p5,.p6{ margin-left: 15px;} .p4{ margin-top: 15px;} .p6{ color: $logoRed; font-weight: bold;}
          }
          .td1, .td4{ border-left: none;}
        }
      }
      .right{ width: 260px; background-color: #f3f3f3;}
    }
  }
}

#focus{ height: 310px; margin-top: 20px;
  div{ height: 310px;
    .f-head, .f-bottom{ width: 1200px;}
    .f-head{ height: 36px; ul{ width: 1200px; height: 36px; position: relative;
      li{ @include dis-flo(left);  position: absolute; background:url('../image/f-square.jpg') no-repeat 0px 14px ;
        a,span{ @include dis-flo(left); line-height: 36px; height: 36px;margin-left: 8px;}
        a{ font-size: 14px; font-weight: bold;} span{  font-size: 12px; color: $grey;}
        &:hover{ color: $logoRed; span{ color: $logoRed;}}
      }
      .f-li1{ left: 12px;} .f-li2{ left: 613px;} .f-li3{ left: 930px;}
    }
    }
    .f-bottom{ height: 273px; border: 1px solid $grey;
      div{@include dis-flo(left); height: 273px; border-right: 1px solid $grey;
      }
      .connect{ width: 605px;}
      .media{ width: 295px; padding-left: 10px; padding-right: 10px;
        dl,ul{width: 295px; }
        dl{ height: 80px; margin-top: 20px;
          @include baseSet(88,292,'',20,'','','','','','');
          dt,dd{ @include dis-flo(left);}
          dd{ width: 192px; margin-left: 4px;
            a{@include dis-flo(left); font-size: 14px; color: red; font-weight: 600; margin-bottom: 10px;}
          }
        }
        ul{ height: 140px; border-top:1px $grey dotted; margin-top: 18px;
          li{list-style: disc;@include baseSet('',292,12,10,'','','',$navBlack,'',''); &:hover{ color: $logoRed;}
            span{@include dis-flo(right); margin-right: 10px;}}
        }
      }
      .interact{ border-right: none; width: 278px;
        div{ @include baseSet(55,244,17,'','',10,'','','',''); border-top: 1px dashed $grey; border-right: none;
          img,a,button{@include dis-flo(left);}
          a{ @include baseSet(40,115,'','','','','',$navBlack,'',''); margin-top: 10px;}
          button{@include baseSet(24,70,10,10,'','',#8ddb00,white,12,24);
            outline: none; border: 1px solid #4ec000; border-radius: 3px;}
        }
        .way2{ margin-top:10px; border-top: none;}
      }
    }
  }
}

#trifle{ height: 172px; margin-top: 12px;
  div{ height: 172px;
    .tr-square,.tr-square1{ @include dis-flo(left); @include baseSet(170,188,'','','','','','','',''); margin-right: 12px;
      border: 1px solid $grey; text-align: center;
      p,img,ul{@include dis-flo(left);}
      p{ @include baseSet(16,188,'',22,'','','','',16,16); text-align: center; font-weight: bold;}
      img{ margin-top: 20px; margin-left: 71px;}
      ul {@include baseSet(45,80,'',10,'','','','','','');
        li:hover{ color: $logoRed;}
      }
      .tr-ul1{ margin-left: 15px; border-right:1px solid $grey;
        li{ width: 70px; text-align: right; margin-right: 10px;}}
      .tr-ul2{ li{ width: 70px; text-align: left; margin-left: 10px;}}
    }
    .tr-square1{ margin-right: 0px;}
  }
}
