$headerRed : #d91515;
$logoRed : #e7381c;
$navBlue : #3c4251;
$navBlack : #292d37;
$grey : #cccccc;

$loginBC : #f5f5f5;
$border : #dadada;
$black : #333333;

$detail-grey : #8e8e8e;



























