@import "variable";
@import "mixin";

*{margin:0; padding:0;}
body{font-size:12px; margin: 0 auto;}
ul li {list-style:none;}
a{ text-decoration:none;}
img{ border:none;}

#header,#top,#nav,#bottom,#footer,#advertise{ width: 100%;
  div{ width: 1263px; margin: 0 auto;}
}

#header{@include baseSet(30,'','','','','',#fafafa,black,'',30);
  div{ height: 30px;
    .h-part1, .h-part2{ @include dis-flo(left);}
    .h-part1{ @include baseSet(30,430,'','',30,'','','','',30);
      .h-slogan, .h-login, .h-sign{@include dis-flo(left); height: 30px; line-height: 30px;}
      .h-slogan{ width: 165px;}
      .h-login{ @include baseSet(15,56,10,6,'','',$headerRed,white,12,15); border: 1px solid #d91515; border-radius: 3px;
        a,button{ @include dis-flo(left); @include baseSet(15,'','','','','','','',12,15); text-align: center; border: none;}
        a{font-weight: bold; width: 15px;}
        button{width: 40px; background-color: #f7f7f7; outline: none;}
      }
      .h-sign{@include baseSet(30,46,6,'','','','',$headerRed,'',30);
        span{color: black;}
      }
    }
    .h-part2{ @include baseSet(30,640,137,'','','','','','',14);
      ul{ height: 30px; position: relative;
        li{ @include dis-flo(left); height: 30px; padding-left: 9px; padding-right: 9px;
          line-height: 30px;
          a{@include dis-flo(left);}
        }
        i{@include dis-flo(left); @include baseSet(30,1,3,'','','','',#ccc,'',30);font-style: normal; margin-right: 3px;
        }
        .break1,.break2{ margin-left: 84px;}
        .mine,.web-guide{position: absolute;
          padding-left: 0px; padding-right: 0px;height: 30px; z-index: 100;
          div{ height: 30px; width: 64px; background-color: white;
              padding-left: 9px; padding-right: 9px; border-bottom: solid 1px #fafafa;
            .img1{@include dis-flo(right);
              @include baseSet(8,16,'',8,'','','','','',''); background: url('../image/paixiewang1.png') no-repeat -142px -500px;}
              &:hover{ color: red; background-color: #fafafa;}
            }
            .div2,.div3,.div4,.div5,.div6{ display: none;
              border-right: 1px solid #ccc; border-bottom: 1px solid #fafafa; border-left: 1px solid #ccc;}
            .div1{ height: 28px; background-color: #fafafa; border: 1px solid #fafafa; border-color: #fafafa;}
            .div6{ border-bottom: 1px solid #ccc;}
        }
        .web-guide{ position: absolute; top: 0px; left: 460px;}
        .h-shopcar {a{ margin-top: 8px; height: 14px; line-height: 14px; border: 1px solid $grey; background-color: #fdf7ec;
          span{ color: $headerRed; }
        }}
        .h-mobile{ img{ margin-top: 5px}  line-height: 14px;}
      }
    }
  }
}

#top{ height: 92px;
  div{ height: 92px; position: relative;
    .t-logo, .t-search, .t-adv{ @include dis-flo(left); height: 92px;}
    li{@include dis-flo(left);}
    .t-logo{ width: 210px; margin-left: 30px; background:url("../image/t-logo.jpg") no-repeat;}
    .t-search{ margin-left: 250px; width: 389px;
      .t-input{ @include baseSet(30,383,'',23,'','','','','',''); border: 2px solid $logoRed;
        input,button{ @include dis-flo(left); border: none; outline: none;}
        input{ @include baseSet(30,280,'','',30,'','','',14,80);
          background: url("../image/paixiewang1.png") no-repeat -170px -588px;
        }
        button{ @include baseSet(30,73,'','','','',$logoRed,white,14,30); text-align: center;}
      }
      ul { li{padding-right: 10px; margin-top: 5px; &:hover{ color: $logoRed;}}
        .t-red{ color: $logoRed;}}
    }
    .t-adv{ width: 212px; margin-left: 136px; position: relative; overflow: hidden;
      .t-ablum1{  width: 848px; height: 59px; position: absolute; top: 15px; left: 0px;
        overflow: hidden;
        li{ width: 212px; height: 59px;}
      }
      .t-ablum2{ position: absolute; right: 0px; bottom: 14px;
        li{ padding-left: 4px; width:10px; height: 4px;
          a{ display: block; width: 10px; height: 2px; margin-top: 2px; background-color: $grey;
            &:hover{ height: 4px; background-color: $logoRed; margin-top: 0px;}
          }}
      }
    }
  }
}


#nav{ height: 36px; background-color: $navBlue; position: absolute; z-index: 2;
  div{ height: 36px;
    #down-list,ul{ @include dis-flo(left); height: 36px;}
    #down-list{ @include baseSet(36,210,30,'','','','',white,16,36);position: relative;
      .a1{@include baseSet(36,187,23,'','','','','',16,36);}
      &:hover{ background-color: $logoRed;}
    }
    ul{ z-index: -1;
      li{ @include dis-flo(left); z-index: -1;
        @include baseSet(36,'','','',18,'','',white,14,36); padding-right: 18px; font-weight: bold;
        &:hover{ background-color: $navBlack; z-index: -1}
      }
      .n-selected{ background-color: $navBlack;}
      .luggage{ margin-right: 230px; }
    }
  }
}

#nav div #down-list #nest{z-index: 100; border: solid 1px #ccc;border-top: none; display: none;
  @include baseSet(722,208,'','','','',white,black,'','');position: absolute; top:36px; left: 0px;
  .nest-shop{@include baseSet(94,185,11,'','','','','','','');
      border-bottom: 1px dotted $grey;
      p{ font-size: 18px; color: black;}
      ul {
        @include baseSet(50, 120, '', '', '', '', white, black, 10, '');
        li { @include dis-flo(left); background-color: white;  padding: 4px; height: 14px; line-height: 14px; text-align: center;
          a{ color: #666666; background-color: white; font-size: 12px; font-weight: 500;}
        }
        }
      }
      img{ margin-left: 11px; margin-top: 4px;}
  }

#bottom{@include baseSet(170,'','',10,'','',#656a76,$grey,'','');
  div{ width: 1200px; height: 170px;
    ul{@include dis-flo(left); margin-top: 23px; width: 150px;
      li{ margin-bottom: 12px; &:hover{ color: $logoRed;}}
      .b-li1{ font-size: 14px; color: white;}
      .b-li2{ font-size: 22px; color: pink; font-weight: bold;}
    }
    .b-ul1{ width: 200px; margin-left: 100px;}
    .b-ul2{ width: 74px;}
    .b-ul3{ width: 180px;}
  }
}

#footer{ height: 138px;
  div{ width: 1200px;
    ul{ li{@include dis-flo(left); }}
    #service{ height: 30px; margin-top: 34px; margin-bottom: 14px;
      li{@include dis-flo(left); @include baseSet(30,232,'','','','','','',16,30);
        font-weight: bold; border-right: 1px solid $grey;
        img{ margin-left: 12px; margin-right: 12px; @include dis-flo(left);}
        span{ color: $logoRed;}}
      .s-last{ border-right: none;}
    }
    #link{ height: 32px; border-top: 1px solid $grey; border-bottom: 1px solid $grey;
      li{@include baseSet(32,'','','',8,'','','',12,32); &:hover{ color: $logoRed;}}
      .l-li1{ padding-left: 0px; font-weight: bold; &:hover{ color: black;}}
    }
    #news{ height: 12px; margin-top: 20px; li{
      padding:0 8px; border-right: solid 1px $grey; &:hover{ color: $logoRed;}}
      .n-li1{ border-right: none;}
      .n-li2{ padding-left: 0px;}
    }
    p{ clear: both; margin-top: 10px;}
  }
}

#advertise{ height: 64px;
  div{ height: 64px;
    #ad-div1{@include baseSet(64,856,0,'','','',#fcfcfc,'','',''); position: relative;
      border-top: 1px solid #ccc; border-right: 1px solid #ccc;
      img{margin-left: 5px;}
      img,li,a{@include dis-flo(left);}
      ul{
        li{
          @include baseSet(66,66,10,'','','','','','',''); text-align: center;
          a{@include baseSet(14,66,'',-14,'','',black,white,12,14); text-align: center; opacity: 0.5; display: block;}
        }}
      .ad-del{ position: absolute; top: -6px; right: -6px; outline: none;
        border:1px solid #ccc; border-radius: 50%; @include baseSet(12,12,'','','','',white,orange,8,12)}
    }
  }
}














