@import "variable";
@import "mixin";

#info,#pay-way{width: 100%;
  .inner{width: 983px; margin: 0 auto;
    .work{ font-size: 16px; font-weight: bold; margin-bottom: 25px;}
  }
}

#info{margin-top: 28px;
  .inner{
    .address {
      form {
        @include baseSet(250, 983, '', '', '', '', #f9f9f9, '', '', '');
        .test,.test1,.label1, .label2, .label3, .label4, .label5, .label6, .label7, .label8, .input1, .input2, .input3, .input4, .input5, .select {
          outline: none; @include baseSet(25, '', '', 15, '', '', '', '', '', 25);
          .star { color: #f34e0f; } @include dis-flo(left);
        }
        .label1, .label3, .label4, .label5, .label7 { margin-left: 24px;  clear: both;  }
        .select { height: 28px; width: 116px;}
        .test,.test1,.test2{ height: 25px; line-height: 25px; color: red; font-size: 14px;}
        .test1{ color: orange;}
        .input1 { width: 103px;}
        .input2 { width: 632px; }
        .input3, .input4 { width: 160px;}
        .label6, .label8 { color: $detail-grey;}
      }
      .submit1 {outline: none; border: none; font-weight: bold;@include baseSet(30, 70, 24, 15, '', '', #f34e0f, white, 14, 30); margin-bottom: 32px;}
    }
    .pay-way{ .span1{ color: $detail-grey;}
      .bank{@include baseSet(158,895,72,7,'','',#fffdf1,$detail-grey,'',''); border: solid 1px orange;
        p{@include baseSet('','',20,16,'','','',black,'',''); margin-bottom: 10px;}
        ul{margin-left: 20px; border-bottom: dotted 1px #ccc; height: 72px;
          li{
          @include dis-flo(left); width: 117px; margin-bottom: 10px;
        }}
        .p1{color: $detail-grey;}
      }
      .hdfk{ margin-top: 28px;}
      .span2{ color: red;}
      .submit2{@include baseSet(30,138,20,28,'','',#f65011,white,16,30); font-weight: bold; border: none; margin-bottom: 25px;}
    }

    .order-info{
        p{ .revise{@include dis-flo(right); color: blue; font-size: 12px; font-weight: 400;}}
      .shop{ul{ width: 983px; height: 24px; border-bottom: 2px solid $black;
        li{ @include dis-flo(left);
        height: 24px; line-height: 24px; color: #4c4c4c; margin-right: 100px;
        }
        .name{ margin-right: 350px;}
        .price2{ margin-right: 0px;}
        }
      .goods{
        width: 983px; margin-bottom: 20px;
        .order{width: 983px; height:150px;
          .first{ width: 983px; height: 22px; line-height: 22px;
            .a1{ color: blue; margin-left: 8px; font-size: 14px; line-height: 22px; &:hover{text-decoration: underline; }}
          }
          .second{ width: 981px; height: 140px; border: solid 1px #ccc; border-top: none;
            .benefit{ width: 981px; height: 36px; background-color: #edeaea; overflow: hidden;
              .adv{@include baseSet(24,112,10,5,'','',white,red,14,24); text-align: center;
                border:1px solid lightpink; border-radius: 2px; display: block;
              }
            }
            .text{ width: 981px; height: 102px; position: relative;
              .ckb2,.img1,.explain,.a4,.amount{@include dis-flo(left);}
              .ckb2{ margin-left: 10px; margin-top: 50px;}
              .img1{ border:1px solid #ccc; width: 80px; height: 80px; margin-top: 11px; margin-left:10px;}
              .explain{@include baseSet(80,310,20,11,'','','','','',''); position: relative;
                .p1{ width: 310px; height: 12px; line-height: 20px;}
                .a2,.a3{ display: block; position: absolute; top:60px; left: 10px; height: 12px;}
                .a3{ left: 82px;}
              }
              .a4{font-size:14px; display: block; position: absolute; font-weight: bold; top:40px; left:450px; height: 12px;}
              .value{display: block; line-height: 20px; height: 20px; position: absolute; top: 45px; left: 600px;}
              .discount{ line-height: 20px; height: 20px; position: absolute; top: 45px; left:730px;}
              .text-price{ font-size: 14px; height: 14px; position: absolute; top: 40px; left:870px; color: red; font-weight: bold;}
              .store,.del{position: absolute; text-align: center; width: 60px; left: 897px; height: 14px; line-height: 14px;}
              .store{ top: 33px;}
              .del{ top: 52px;
                &:hover{ text-decoration: underline; color: blue;}
              }
            }
          }
        }
      }}
      .total{@include baseSet(90,983,'',8,'','',#fffaf5,'','',''); border-top: 1px solid pink;
        .cell1,.cell2,.cell3{@include dis-flo(left); height: 44px; width: 491px;}
        .cell1{ border-right: 1px solid pink; a{ display: block; @include baseSet(22,118,8,8,'','',white,red,'',22);
        border:solid 1px pink; text-align: center; border-radius: 3px;
        }}
        .cell2{a,span{ @include dis-flo(left); line-height: 44px;}  a{ margin-left: 60px; } span{ margin-left: 200px; font-weight: bold;}}
        .cell1,.cell2{border-bottom: 1px solid pink;}
        .cell3{ font-weight: bold; @include dis-flo(right);
          a{@include dis-flo(right); margin-right: 30px; line-height: 44px;
            .price3{ line-height: 14px; height: 14px; font-size: 12px;}
          }}
      }
    }

    .total2{@include baseSet(175,981,'',10,'','',#fff9e0,'','',''); border: solid 1px orange; overflow: hidden;;
      .left{ @include baseSet(175,266,10,10,'','','','','','');@include dis-flo(left);
        input{ height: 24px;  font-size: 12px; outline: none;}
        .input1{ width: 158px;} .input2{ width: 52px; height: 26px; border: none; background-color: #ccc; text-align: center;}
        .input3{ width: 226px;}
        .p1{ margin-top: 36px;}
      }
      .right {
        @include dis-flo(right);
        @include baseSet(102,264,'',40,'','','','','','');
        .real,.span2,.span3{color: $detail-grey;}
        .real{
          .money{ font-weight: bold; font-size: 24px; color: orangered;}
        }
        .span2{ float: right; margin-right: 50px;}
        button{ outline: none;@include baseSet(42,162,20,28,'','',#f65011,white,16,42); font-weight: bold; border: none;}
      }
    }
  }
}

