@import "variable";
@import "mixin";

*{margin:0; padding:0;}
body{font-size:12px; margin: 0 auto;}
ul li {list-style:none;}
a{ text-decoration:none;}
img{ border:none;}

#shop-car{width: 100%;
  .inner{ width: 983px; margin: 0 auto;}
}


#shop-car{
  .inner{ padding-top: 24px;
    .top{width: 983px; height: 25px;
      h1,p{@include dis-flo(left);}
      .count{ margin-top: 12px;}
      .alarm,img{@include dis-flo(right); height: 25px; line-height: 30px;}

    }
    .general{@include baseSet(32,983,'',5,'','',#edeaea,$detail-grey,'',32);
        border-top: solid 2px #b5b5b5;
        .all{ margin-left: 16px;}
        .name{ margin-left: 200px;}
        .price{ margin-left: 189px;}
        .amount{ margin-left: 126px;}
        .price2{ margin-left: 85px;}
        .operate{ margin-left: 60px;}
    }
    #goods{
      width: 983px; padding-top: 20px; margin-bottom: 20px;
      .order{width: 983px; height: 172px;
        .first{ width: 983px; height: 22px; line-height: 22px;
          .a1{ color: blue; margin-left: 8px; font-size: 14px; line-height: 22px; &:hover{text-decoration: underline; }}
        }
        .second{ width: 981px; height: 140px; border: solid 1px #ccc;
          .benefit{ width: 981px; height: 36px; background-color: #edeaea; overflow: hidden;
            .adv{@include baseSet(24,112,10,5,'','',white,red,14,24); text-align: center;
              border:1px solid lightpink; border-radius: 2px; display: block;
            }
          }
          .text{ width: 981px; height: 102px; position: relative;
            .ckb2,.img1,.explain{@include dis-flo(left);}
            .ckb2{ margin-left: 10px; margin-top: 50px;}
            .img1{ border:1px solid #ccc; width: 80px; height: 80px; margin-top: 11px; margin-left:10px;}
            .explain{@include baseSet(80,310,20,11,'','','','','',''); position: relative;
              .p1{ width: 310px; height: 12px; line-height: 20px;}
              .a2,.a3{ display: block; position: absolute; top:60px; left: 10px; height: 12px;}
              .a3{ left: 82px;}
            }
            .a4{display: block; position: absolute; font-weight: bold; top:40px; left: 500px; height: 12px;}
          }
        }
      }
    }

    .general2{@include baseSet(42,983,'',10,'','',#edeaea,$detail-grey,'',42);
      .all{ margin-left: 16px;}
      .del,.continue{ margin-left: 8px;}
      .chosen{ margin-left: 365px;
        .span1,.span2{color: #f34e0f;}
        .span2{ font-size: 18px; font-weight: bold;}
      }
      .pay{
        @include dis-flo(right); border: none; outline: none;
        @include baseSet(42,160,'','','','',#f34e0f,white,18,42); text-align: center;
      }
    }
  }
}

