@import "variable";
@import "mixin";

*{margin:0; padding:0;}
body{font-size:12px; margin: 0 auto;}
ul li {list-style:none;}
a{ text-decoration:none;}
img{ border:none;}


body{ height: 652px; background-color: $loginBC;}
#container{margin: 0 auto; @include baseSet(535,980,'',35,'','','','','','');
  #title{ height: 57px; width: 980px; margin-bottom: 55px;
    img,span{@include dis-flo(left);}
    span{ border-left: 1px solid $grey; text-align: center; @include baseSet(28,99,20,29,'','','',$black,18,28);}
  }
  #box {
    @include baseSet(423, 978, '', '', '', '', white, '', '', '');
    border: 1px solid $grey;
    #left, #right {
      @include dis-flo(left);
      height: 285px;
      margin-top: 35px;
    }
    #left {
      width: 660px; margin-left: 40px;
      .name, .pass, .pass2 {
        @include baseSet(40, 660, '', '', '', '', '', $black, '', 40); margin-bottom: 26px;
        label,input{@include dis-flo(left);}
        label{ text-align: right; width: 69px; color: $black;}
        input{ @include baseSet(36,288,'','','','','','',14,36);}
      }
      .pass2{ margin-bottom: 17px;}
      .commit{
        @include baseSet(73,295,76,'','','','',$grey,10,'');
        a{ color: blue; font-size: 10px;}
        button{
          @include baseSet(40,295,'',20,'','',#0487df,white,16,40); border: none; text-align: center;
        }
      }
    }
    #right{ width: 180px; margin-left: 10px; border-left: 1px dashed #ccc;
      span,p{margin-left: 30px; line-height:23px; font-size: 12px; }
      p{ margin-top: 13px; margin-bottom: 23px;}
      span,a{@include dis-flo(left);}
      a{ @include baseSet(25,68,4,'',30,'',#f76e2b,white,12,25); border-radius: 3px;
       background: url("../image/paixiewang2.png") no-repeat -118px 0;}
      }
  }
  .remark{@include baseSet(12,'','',32,'','','','',12,12); text-align: center; color: $black;}
}