<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>爱看电影</title>
	    <link rel="stylesheet" href="css/public.css"/>
	    <link rel="stylesheet" href="css/lib/swiper.min.css"/>
	    <link rel="stylesheet" href="css/lib/index.css"/>
	    <script type="text/javascript" src="js/angular.min.js"></script>
	    <script type="text/javascript" src="js/swiper.min.js"></script>
	    <script type="text/javascript" src="js/swiper.animate.min.js"></script>
	    <script type="text/javascript" src="js/jquery.min.js"></script>
	    <script type="text/javascript">
	    	var m1 = angular.module("app1",[]);
	    	m1.controller('demo',function($scope,$http){	    	
	    		$scope.loadSwiper = function(){
    				myWisper = new Swiper("#banner",{
						autoplay:1000,
						pagination:".swiper-pagination",
						autoplayDisableOnInteraction:false,
						paginationClickable:true
					});
	    		}
	    		$scope.loadSwiper();
	    		
	    		$scope.films = [];
	    		$http.get("json/film.json").success(
	    			function(data){
	    				$scope.films = data["hot_film"];
	    			}
	    		);
	    		
	    		$scope.films2 = [];
	    		$http.get("json/film.json").success(
	    			function(data){
	    				$scope.films2 = data["future_film"];
	    			}
	    		);	
	    		
	    		$scope.defaultStyle = function(){
		    		$scope.isactive = false;
		    		$scope.isactive1 = false;
		    		$scope.isactive2 = false;
		    		$scope.isactive3 = false;
		    		$scope.isactive4 = false;
	    		}
	    		$scope.defaultStyle();
	    		
	    		$scope.toggle = function(){
	    			$scope.defaultStyle();
	    			$scope.isactive = true;
	    		}
	    		$scope.toggle1 = function(){
	    			$scope.defaultStyle();
	    			$scope.isactive1 = true;
	    		}
	    		$scope.toggle2 = function(){
	    			$scope.defaultStyle();
	    			$scope.isactive2 = true;
	    		}
	    		$scope.toggle3 = function(){
	    			$scope.defaultStyle();
	    			$scope.isactive3 = true;
	    		}
	    		$scope.toggle4 = function(){
	    			$scope.defaultStyle();
	    			$scope.isactive4 = true;
	    		}
	    		
	    	});
	    	
	    </script>
	</head>
	<body ng-app="app1" ng-controller="demo">
		<div class="container">
			<div class="swiper-container banner" id="banner">
				<div class="swiper-wrapper" id="slides">
					<div class="swiper-slide"><img class="slide_img" src="http://img6.gewara.com/images/common/201611/s3fcbc774_1583deb1df4__7ff8.jpg"/></div>
					<div class="swiper-slide"><img class="slide_img" src="http://img5.gewara.com/images/common/201611/s3d075e1_1584d54ce4a__7e90.jpg"/></div>
					<div class="swiper-slide"><img class="slide_img" src="http://img6.gewara.com/images/common/201611/s242bf33b_158394770bf__7f15.jpg"/></div>
					<div class="swiper-slide"><img class="slide_img" src="http://img5.gewara.com/images/common/201611/s531a9b5f_158485becb8__7f0e.jpg"/></div>
					<div class="swiper-slide"><img class="slide_img" src="http://img5.gewara.com/images/common/201611/s3d075e1_1584d54ce4a__7ed0.jpg"/></div>
					<div class="swiper-slide"><img class="slide_img" src="http://img6.gewara.com/images/common/201610/s_6d516ca_157c2e8dd01__786d.jpg"/></div>
				</div>
				<div class="swiper-pagination">
				</div>
			</div>
			
			<div class="activity">
				<div class="activity_box">
					<span class="box_span iconfont">&#xe614;</span>
					<p class="box_p">热门活动</p>
				</div>
				<div class="activity_box">
					<span class="box_span iconfont">&#xe65e;</span>
					<p class="box_p">每日红包</p>
				</div>
				<div class="activity_box">
					<span class="box_span iconfont2">&#xf0141;</span>
					<p class="box_p">票房排行</p>
				</div>
			</div>
			
			<div class="hot_film">
				<p class="title"><span class="shuxian iconfont"></span>热映电影<span class="more iconfont">更多  &#xe649;</span></p>
				<nav class="film_detail">
					<div class="film_content">
						<div class="film" ng-repeat="film in films">
							<img class="film_poster" src="{{film.poster}}" />
							<p class="film_name">{{film.name}}</p>
							<p class="film_point">
								<span class="ablong" style="width: {{film.point*10/100*4}}rem;"></span>
								<span class="txt">{{film.point}}</span></p>
						</div>
					</div>
				</nav>
			</div>
			
			<div class="future_film">
				<p class="title"><span class="shuxian iconfont"></span>即将上映<span class="more iconfont">更多  &#xe649;</span></p>
				<nav class="film_detail">
					<div class="film_content">
						<div class="film" ng-repeat="film in films2">
							<img class="film_poster" src="{{film.poster}}" />
							<p class="film_name">{{film.name}}</p>
							<p class="film_point">
								<span class="ablong" style="width: {{film.point*10/100*4}}rem;"></span>
								<span class="txt">{{film.point}}</span></p>
						</div>
					</div>
				</nav>
			</div>
			<div class="footer">
				<span class="iconfont" ng-class="{'orange':isactive}" ng-click="toggle()">&#xe639;<a ng-class="{'appear':isactive}">发现</a></span>
				<span class="iconfont" ng-class="{'orange':isactive1}" ng-click="toggle1()">&#xe619;<a ng-class="{'appear':isactive1}">电影</a></span>
				<span class="iconfont" ng-class="{'orange':isactive2}" ng-click="toggle2()">&#xe609;<a ng-class="{'appear':isactive2}">原声音乐</a></span>
				<span class="iconfont" ng-class="{'orange':isactive3}" ng-click="toggle3()">&#xe691;<a ng-class="{'appear':isactive3}">好友</a></span>
				<span class="iconfont" ng-class="{'orange':isactive4}" ng-click="toggle4()">&#xe65f;<a ng-class="{'appear':isactive4}">我的</a></span>
			</div>
		</div>
	</body>
	
</html>
