#info, #pay-way {
  width: 100%;
}
#info .inner, #pay-way .inner {
  width: 983px;
  margin: 0 auto;
}
#info .inner .work, #pay-way .inner .work {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

#info {
  margin-top: 28px;
}
#info .inner .address form {
  height: 250px;
  width: 983px;
  background-color: #f9f9f9;
}
#info .inner .address form .label1, #info .inner .address form .label2, #info .inner .address form .label3, #info .inner .address form .label4, #info .inner .address form .label5, #info .inner .address form .label6, #info .inner .address form .label7, #info .inner .address form .label8, #info .inner .address form .input1, #info .inner .address form .input2, #info .inner .address form .input3, #info .inner .address form .input4, #info .inner .address form .input5, #info .inner .address form .select {
  outline: none;
  height: 25px;
  margin-top: 15px;
  line-height: 25px;
  display: block;
  float: left;
}
#info .inner .address form .label1 .star, #info .inner .address form .label2 .star, #info .inner .address form .label3 .star, #info .inner .address form .label4 .star, #info .inner .address form .label5 .star, #info .inner .address form .label6 .star, #info .inner .address form .label7 .star, #info .inner .address form .label8 .star, #info .inner .address form .input1 .star, #info .inner .address form .input2 .star, #info .inner .address form .input3 .star, #info .inner .address form .input4 .star, #info .inner .address form .input5 .star, #info .inner .address form .select .star {
  color: #f34e0f;
}
#info .inner .address form .label1, #info .inner .address form .label3, #info .inner .address form .label4, #info .inner .address form .label5, #info .inner .address form .label7 {
  margin-left: 24px;
  clear: both;
}
#info .inner .address form .select {
  height: 28px;
  width: 116px;
}
#info .inner .address form .input1 {
  width: 103px;
}
#info .inner .address form .input2 {
  width: 632px;
}
#info .inner .address form .input3, #info .inner .address form .input4 {
  width: 160px;
}
#info .inner .address form .label6, #info .inner .address form .label8 {
  color: #8e8e8e;
}
#info .inner .address .submit1 {
  border: none;
  font-weight: bold;
  height: 30px;
  width: 70px;
  margin-top: 15px;
  margin-left: 24px;
  background-color: #f34e0f;
  color: white;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 32px;
}
#info .inner .pay-way .span1 {
  color: #8e8e8e;
}
#info .inner .pay-way .bank {
  height: 158px;
  width: 895px;
  margin-top: 7px;
  margin-left: 72px;
  background-color: #fffdf1;
  color: #8e8e8e;
  border: solid 1px orange;
}
#info .inner .pay-way .bank p {
  margin-top: 16px;
  margin-left: 20px;
  color: black;
  margin-bottom: 10px;
}
#info .inner .pay-way .bank ul {
  margin-left: 20px;
  border-bottom: dotted 1px #ccc;
  height: 72px;
}
#info .inner .pay-way .bank ul li {
  display: block;
  float: left;
  width: 117px;
  margin-bottom: 10px;
}
#info .inner .pay-way .bank .p1 {
  color: #8e8e8e;
}
#info .inner .pay-way .hdfk {
  margin-top: 28px;
}
#info .inner .pay-way .span2 {
  color: red;
}
#info .inner .pay-way .submit2 {
  height: 30px;
  width: 138px;
  margin-top: 28px;
  margin-left: 20px;
  background-color: #f65011;
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  border: none;
  margin-bottom: 25px;
}
#info .inner .order-info p .revise {
  display: block;
  float: right;
  color: blue;
  font-size: 12px;
  font-weight: 400;
}
#info .inner .order-info ul {
  width: 983px;
  height: 24px;
  border-bottom: 2px solid #333333;
}
#info .inner .order-info ul li {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #4c4c4c;
  margin-right: 100px;
}
#info .inner .order-info ul .name {
  margin-right: 350px;
}
#info .inner .order-info ul .price2 {
  margin-right: 0px;
}
#info .inner .order-info .total {
  height: 90px;
  width: 983px;
  margin-top: 8px;
  background-color: #fffaf5;
  border-top: 1px solid pink;
}
#info .inner .order-info .total .cell1, #info .inner .order-info .total .cell2, #info .inner .order-info .total .cell3 {
  display: block;
  float: left;
  height: 44px;
  width: 491px;
}
#info .inner .order-info .total .cell1 {
  border-right: 1px solid pink;
}
#info .inner .order-info .total .cell1 a {
  display: block;
  height: 22px;
  width: 118px;
  margin-top: 8px;
  margin-left: 8px;
  background-color: white;
  color: red;
  line-height: 22px;
  border: solid 1px pink;
  text-align: center;
  border-radius: 3px;
}
#info .inner .order-info .total .cell2 a, #info .inner .order-info .total .cell2 span {
  display: block;
  float: left;
  line-height: 44px;
}
#info .inner .order-info .total .cell2 a {
  margin-left: 60px;
}
#info .inner .order-info .total .cell2 span {
  margin-left: 200px;
  font-weight: bold;
}
#info .inner .order-info .total .cell1, #info .inner .order-info .total .cell2 {
  border-bottom: 1px solid pink;
}
#info .inner .order-info .total .cell3 {
  font-weight: bold;
  display: block;
  float: right;
}
#info .inner .order-info .total .cell3 a {
  display: block;
  float: right;
  margin-right: 30px;
  line-height: 44px;
}
#info .inner .total2 {
  height: 175px;
  width: 981px;
  margin-top: 10px;
  background-color: #fff9e0;
  border: solid 1px orange;
  overflow: hidden;
}
#info .inner .total2 .left {
  height: 175px;
  width: 266px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  float: left;
}
#info .inner .total2 .left input {
  height: 24px;
  font-size: 12px;
  outline: none;
}
#info .inner .total2 .left .input1 {
  width: 158px;
}
#info .inner .total2 .left .input2 {
  width: 52px;
  height: 26px;
  border: none;
  background-color: #ccc;
  text-align: center;
}
#info .inner .total2 .left .input3 {
  width: 226px;
}
#info .inner .total2 .left .p1 {
  margin-top: 36px;
}
#info .inner .total2 .right {
  display: block;
  float: right;
  height: 102px;
  width: 264px;
  margin-top: 40px;
}
#info .inner .total2 .right .real, #info .inner .total2 .right .span2, #info .inner .total2 .right .span3 {
  color: #8e8e8e;
}
#info .inner .total2 .right .span2 {
  float: right;
  margin-right: 50px;
}
#info .inner .total2 .right button {
  height: 42px;
  width: 162px;
  margin-top: 28px;
  margin-left: 20px;
  background-color: #f65011;
  color: white;
  font-size: 16px;
  line-height: 42px;
  font-weight: bold;
  border: none;
}

/*# sourceMappingURL=balance.css.map */
