* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

#header, #top, #nav, #bottom, #footer, #advertise {
  width: 100%;
}
#header div, #top div, #nav div, #bottom div, #footer div, #advertise div {
  width: 1263px;
  margin: 0 auto;
}

#header {
  height: 30px;
  background-color: #fafafa;
  color: black;
  line-height: 30px;
}
#header div {
  height: 30px;
}
#header div .h-part1, #header div .h-part2 {
  display: block;
  float: left;
}
#header div .h-part1 {
  height: 30px;
  width: 430px;
  padding-left: 30px;
  line-height: 30px;
}
#header div .h-part1 .h-slogan, #header div .h-part1 .h-login, #header div .h-part1 .h-sign {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
}
#header div .h-part1 .h-slogan {
  width: 165px;
}
#header div .h-part1 .h-login {
  height: 15px;
  width: 61px;
  margin-top: 6px;
  margin-left: 10px;
  background-color: #d91515;
  color: white;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #d91515;
  border-radius: 3px;
}
#header div .h-part1 .h-login a, #header div .h-part1 .h-login button {
  display: block;
  float: left;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: none;
}
#header div .h-part1 .h-login a {
  font-weight: bold;
  width: 15px;
}
#header div .h-part1 .h-login button {
  width: 45px;
  background-color: #f7f7f7;
  outline: none;
}
#header div .h-part1 .h-sign {
  height: 30px;
  width: 46px;
  margin-left: 6px;
  color: #d91515;
  line-height: 30px;
}
#header div .h-part1 .h-sign span {
  color: black;
}
#header div .h-part2 {
  height: 30px;
  width: 640px;
  margin-left: 137px;
  line-height: 14px;
}
#header div .h-part2 ul {
  height: 30px;
  position: relative;
}
#header div .h-part2 ul li {
  display: block;
  float: left;
  height: 30px;
  padding-left: 9px;
  padding-right: 9px;
  line-height: 30px;
}
#header div .h-part2 ul li a {
  display: block;
  float: left;
}
#header div .h-part2 ul i {
  display: block;
  float: left;
  height: 30px;
  width: 1px;
  margin-left: 3px;
  color: #ccc;
  line-height: 30px;
  font-style: normal;
  margin-right: 3px;
}
#header div .h-part2 ul .break1, #header div .h-part2 ul .break2 {
  margin-left: 84px;
}
#header div .h-part2 ul .mine, #header div .h-part2 ul .web-guide {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  height: 30px;
  z-index: 100;
}
#header div .h-part2 ul .mine div, #header div .h-part2 ul .web-guide div {
  height: 30px;
  width: 64px;
  background-color: white;
  padding-left: 9px;
  padding-right: 9px;
  border-bottom: solid 1px #fafafa;
}
#header div .h-part2 ul .mine div .img1, #header div .h-part2 ul .web-guide div .img1 {
  display: block;
  float: right;
  height: 8px;
  width: 16px;
  margin-top: 8px;
  background: url("../image/paixiewang1.png") no-repeat -142px -500px;
}
#header div .h-part2 ul .mine div:hover, #header div .h-part2 ul .web-guide div:hover {
  color: red;
  background-color: #fafafa;
}
#header div .h-part2 ul .mine .div2, #header div .h-part2 ul .mine .div3, #header div .h-part2 ul .mine .div4, #header div .h-part2 ul .mine .div5, #header div .h-part2 ul .mine .div6, #header div .h-part2 ul .web-guide .div2, #header div .h-part2 ul .web-guide .div3, #header div .h-part2 ul .web-guide .div4, #header div .h-part2 ul .web-guide .div5, #header div .h-part2 ul .web-guide .div6 {
  display: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #ccc;
}
#header div .h-part2 ul .mine .div1, #header div .h-part2 ul .web-guide .div1 {
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-color: #fafafa;
}
#header div .h-part2 ul .mine .div6, #header div .h-part2 ul .web-guide .div6 {
  border-bottom: 1px solid #ccc;
}
#header div .h-part2 ul .web-guide {
  position: absolute;
  top: 0px;
  left: 460px;
}
#header div .h-part2 ul .h-shopcar a {
  margin-top: 8px;
  height: 14px;
  line-height: 14px;
  border: 1px solid #cccccc;
  background-color: #fdf7ec;
}
#header div .h-part2 ul .h-shopcar a span {
  color: #d91515;
}
#header div .h-part2 ul .h-mobile {
  line-height: 14px;
}
#header div .h-part2 ul .h-mobile img {
  margin-top: 5px;
}

#top {
  height: 92px;
}
#top div {
  height: 92px;
  position: relative;
}
#top div .t-logo, #top div .t-search, #top div .t-adv {
  display: block;
  float: left;
  height: 92px;
}
#top div li {
  display: block;
  float: left;
}
#top div .t-logo {
  width: 210px;
  margin-left: 30px;
  background: url("../image/t-logo.jpg") no-repeat;
}
#top div .t-search {
  margin-left: 250px;
  width: 389px;
}
#top div .t-search .t-input {
  height: 30px;
  width: 383px;
  margin-top: 23px;
  border: 2px solid #e7381c;
}
#top div .t-search .t-input input, #top div .t-search .t-input button {
  display: block;
  float: left;
  border: none;
  outline: none;
}
#top div .t-search .t-input input {
  height: 30px;
  width: 280px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 80px;
  background: url("../image/paixiewang1.png") no-repeat -170px -588px;
}
#top div .t-search .t-input button {
  height: 30px;
  width: 73px;
  background-color: #e7381c;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
#top div .t-search ul li {
  padding-right: 10px;
  margin-top: 5px;
}
#top div .t-search ul li:hover {
  color: #e7381c;
}
#top div .t-search ul .t-red {
  color: #e7381c;
}
#top div .t-adv {
  width: 212px;
  margin-left: 136px;
  position: relative;
  overflow: hidden;
}
#top div .t-adv .t-ablum1 {
  width: 848px;
  height: 59px;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
#top div .t-adv .t-ablum1 li {
  width: 212px;
  height: 59px;
}
#top div .t-adv .t-ablum2 {
  position: absolute;
  right: 0px;
  bottom: 14px;
}
#top div .t-adv .t-ablum2 li {
  padding-left: 4px;
  width: 10px;
  height: 4px;
}
#top div .t-adv .t-ablum2 li a {
  display: block;
  width: 10px;
  height: 2px;
  margin-top: 2px;
  background-color: #cccccc;
}
#top div .t-adv .t-ablum2 li a:hover {
  height: 4px;
  background-color: #e7381c;
  margin-top: 0px;
}

#nav {
  height: 36px;
  background-color: #3c4251;
  position: absolute;
  z-index: 2;
}
#nav div {
  height: 36px;
}
#nav div #down-list, #nav div ul {
  display: block;
  float: left;
  height: 36px;
}
#nav div #down-list {
  height: 36px;
  width: 210px;
  margin-left: 30px;
  color: white;
  font-size: 16px;
  line-height: 36px;
  position: relative;
}
#nav div #down-list .a1 {
  height: 36px;
  width: 187px;
  margin-left: 23px;
  font-size: 16px;
  line-height: 36px;
}
#nav div #down-list:hover {
  background-color: #e7381c;
}
#nav div ul {
  z-index: -1;
}
#nav div ul li {
  display: block;
  float: left;
  z-index: -1;
  height: 36px;
  padding-left: 18px;
  color: white;
  font-size: 14px;
  line-height: 36px;
  padding-right: 18px;
  font-weight: bold;
}
#nav div ul li:hover {
  background-color: #292d37;
  z-index: -1;
}
#nav div ul .n-selected {
  background-color: #292d37;
}
#nav div ul .luggage {
  margin-right: 230px;
}

#nav div #down-list #nest {
  z-index: 100;
  border: solid 1px #ccc;
  border-top: none;
  display: none;
  height: 722px;
  width: 208px;
  background-color: white;
  color: black;
  position: absolute;
  top: 36px;
  left: 0px;
}
#nav div #down-list #nest .nest-shop {
  height: 94px;
  width: 185px;
  margin-left: 11px;
  border-bottom: 1px dotted #cccccc;
}
#nav div #down-list #nest .nest-shop p {
  font-size: 18px;
  color: black;
}
#nav div #down-list #nest .nest-shop ul {
  height: 50px;
  width: 120px;
  background-color: white;
  color: black;
  font-size: 10px;
}
#nav div #down-list #nest .nest-shop ul li {
  display: block;
  float: left;
  background-color: white;
  padding: 4px;
  height: 14px;
  line-height: 14px;
  text-align: center;
}
#nav div #down-list #nest .nest-shop ul li a {
  color: #666666;
  background-color: white;
  font-size: 12px;
  font-weight: 500;
}
#nav div #down-list #nest img {
  margin-left: 11px;
  margin-top: 4px;
}
#nav div #down-list #nest .second {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 209px;
  width: 780px;
  height: 665px;
  background-color: white;
  display: none;
}
#nav div #down-list #nest .second p, #nav div #down-list #nest .second ul {
  margin-left: 30px;
}
#nav div #down-list #nest .second p {
  padding-left: 5px;
  clear: both;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}
#nav div #down-list #nest .second ul {
  width: 505px;
  border-top: 1px dotted #ccc;
  margin-bottom: 20px;
}
#nav div #down-list #nest .second ul li {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
#nav div #down-list #nest .second ul li:hover {
  background-color: goldenrod;
  color: white;
}
#nav div #down-list #nest .second .sec-adv {
  position: absolute;
  top: 10px;
  left: 520px;
}

#bottom {
  height: 170px;
  margin-top: 10px;
  background-color: #656a76;
  color: #cccccc;
}
#bottom div {
  width: 1200px;
  height: 170px;
}
#bottom div ul {
  display: block;
  float: left;
  margin-top: 23px;
  width: 150px;
}
#bottom div ul li {
  margin-bottom: 12px;
}
#bottom div ul li:hover {
  color: #e7381c;
}
#bottom div ul .b-li1 {
  font-size: 14px;
  color: white;
}
#bottom div ul .b-li2 {
  font-size: 22px;
  color: pink;
  font-weight: bold;
}
#bottom div .b-ul1 {
  width: 200px;
  margin-left: 100px;
}
#bottom div .b-ul2 {
  width: 74px;
}
#bottom div .b-ul3 {
  width: 180px;
}

#footer {
  height: 138px;
}
#footer div {
  width: 1200px;
}
#footer div ul li {
  display: block;
  float: left;
}
#footer div #service {
  height: 30px;
  margin-top: 34px;
  margin-bottom: 14px;
}
#footer div #service li {
  display: block;
  float: left;
  height: 30px;
  width: 232px;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  border-right: 1px solid #cccccc;
}
#footer div #service li img {
  margin-left: 12px;
  margin-right: 12px;
  display: block;
  float: left;
}
#footer div #service li span {
  color: #e7381c;
}
#footer div #service .s-last {
  border-right: none;
}
#footer div #link {
  height: 32px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
#footer div #link li {
  height: 32px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 32px;
}
#footer div #link li:hover {
  color: #e7381c;
}
#footer div #link .l-li1 {
  padding-left: 0px;
  font-weight: bold;
}
#footer div #link .l-li1:hover {
  color: black;
}
#footer div #news {
  height: 12px;
  margin-top: 20px;
}
#footer div #news li {
  padding: 0 8px;
  border-right: solid 1px #cccccc;
}
#footer div #news li:hover {
  color: #e7381c;
}
#footer div #news .n-li1 {
  border-right: none;
}
#footer div #news .n-li2 {
  padding-left: 0px;
}
#footer div p {
  clear: both;
  margin-top: 10px;
}

#advertise {
  height: 64px;
}
#advertise div {
  height: 64px;
}
#advertise div #ad-div1 {
  height: 64px;
  width: 856px;
  margin-left: 0px;
  background-color: #fcfcfc;
  position: relative;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#advertise div #ad-div1 img {
  margin-left: 5px;
}
#advertise div #ad-div1 img, #advertise div #ad-div1 li, #advertise div #ad-div1 a {
  display: block;
  float: left;
}
#advertise div #ad-div1 ul li {
  height: 66px;
  width: 66px;
  margin-left: 10px;
  text-align: center;
}
#advertise div #ad-div1 ul li a {
  height: 14px;
  width: 66px;
  margin-top: -14px;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0.5;
  display: block;
}
#advertise div #ad-div1 .ad-del {
  position: absolute;
  top: -6px;
  right: -6px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: white;
  color: orange;
  font-size: 8px;
  line-height: 12px;
}

#toolbar div, #toolbar2 div {
  background-color: #7a6e6e;
  position: relative;
  height: 35px;
  width: 35px;
  margin-bottom: 2px;
  border-radius: 3px 0px 0px 3px;
}
#toolbar div em, #toolbar2 div em {
  border-radius: 3px 0px 0px 3px;
  font-style: normal;
  height: 35px;
  width: 62px;
  position: absolute;
  top: 0px;
  left: 35px;
  color: #fff;
  line-height: 35px;
  text-align: center;
}
#toolbar div a, #toolbar2 div a {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 35px;
  display: block;
  background: url(../image/toolbars.png) no-repeat -90px -176px;
  border-radius: 3px 0px 0px 3px;
  z-index: 101;
}

#toolbar {
  height: 216px;
  width: 35px;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -108px;
}
#toolbar div .toola2 {
  background-position: -50px 0px;
}
#toolbar div .toola3 {
  background-position: -50px -50px;
}
#toolbar div .toola4 {
  background-position: -50px -100px;
}
#toolbar div .toola5 {
  background-position: -190px -150px;
}
#toolbar div .toola6 {
  background-position: -50px -150px;
}

#toolbar2 {
  height: 108px;
  width: 35px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
#toolbar2 div p {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  line-height: 17px;
  color: #fff;
  background-color: #c81623;
}
#toolbar2 div .toola7 {
  background-position: -50px -250px;
}
#toolbar2 div .toola8 {
  background-position: -50px -300px;
}

#toolbar3 {
  display: none;
  height: 180px;
  width: 30px;
  position: fixed;
  top: 50%;
  margin-top: -80px;
  left: 50%;
  margin-left: -635px;
}
#toolbar3 ul li {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
#toolbar3 ul li a {
  position: absolute;
  height: 29px;
  width: 30px;
  text-align: center;
  line-height: 29px;
}
#toolbar3 ul li .floor1 {
  display: block;
}
#toolbar3 ul li .front1 {
  display: none;
}
#toolbar3 ul li .toolbar3space {
  height: 0px;
  width: 20px;
  margin: 0 auto;
  margin-top: 29px;
  border-top: dotted 1px #ccc;
}

#top .t-adv .t-ablum2 li .display1 {
  height: 4px;
  background-color: #e7381c;
  margin-top: 0px;
}

#carousel div .c-album2 .display2 {
  background-color: #e7381c;
}

#nav div #down-list #nest .nest-shop ul .color1 {
  color: white;
  background-color: #fe7b41;
}
#nav div #down-list #nest .nest-shop ul .color1 a {
  color: white;
  background-color: #fe7b41;
}
#nav div #down-list #nest .nest-shop ul .color2 {
  color: white;
  background-color: #fd3089;
}
#nav div #down-list #nest .nest-shop ul .color2 a {
  color: white;
  background-color: #fd3089;
}
#nav div #down-list #nest .nest-shop ul .color3 {
  color: white;
  background-color: #336699;
}
#nav div #down-list #nest .nest-shop ul .color3 a {
  color: white;
  background-color: #336699;
}
#nav div #down-list #nest .nest-shop ul .color4 {
  color: white;
  background-color: #f59f0a;
}
#nav div #down-list #nest .nest-shop ul .color4 a {
  color: white;
  background-color: #f59f0a;
}
#nav div #down-list #nest .nest-shop ul .color5 {
  color: white;
  background-color: #f23029;
}
#nav div #down-list #nest .nest-shop ul .color5 a {
  color: white;
  background-color: #f23029;
}
#nav div #down-list #nest .nest-shop ul .color6 {
  color: white;
  background-color: #04b527;
}
#nav div #down-list #nest .nest-shop ul .color6 a {
  color: white;
  background-color: #04b527;
}
#nav div #down-list #nest .nest-shop ul .color7 {
  color: white;
  background-color: #e34242;
}
#nav div #down-list #nest .nest-shop ul .color7 a {
  color: white;
  background-color: #e34242;
}

#container #box #left .name .common, #container #box #left .pass .common, #container #box #left .pass2 .common {
  height: 38px;
  width: 288px;
  background-color: #eef9ff;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px #ddf3ff;
  border-left: none;
}

#container #box #left .name .right, #container #box #left .pass .right, #container #box #left .pass2 .right {
  height: 38px;
  width: 288px;
  background-color: #ccc;
  color: white;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px orange;
  border-left: none;
  result: right;
}

#container #box #left .name .wrong, #container #box #left .pass .wrong, #container #box #left .pass2 .wrong {
  height: 38px;
  width: 288px;
  background-color: #fdeaea;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px pink;
  border-left: none;
}

#content .inner #magnifier .left #big #square {
  display: none;
  cursor: move;
  visibility: visible;
  width: 211px;
  height: 211px;
  border: solid 1px #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FEDE4F;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

#content .inner #magnifier #shower {
  background: url(../image/detail/ddmf1-1.jpg) no-repeat 0px 0px;
  position: absolute;
  top: 0px;
  left: 423px;
  display: none;
  z-index: 2;
  width: 398px;
  height: 398px;
  border: solid 1px #ccc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

#container {
  height: 22445px;
}

#detail-adv .inner, #detail-nav .inner, #content .inner {
  width: 1200px;
  margin: auto;
}

#detail-adv {
  height: 120px;
}
#detail-adv .inner {
  height: 120px;
}
#detail-adv .inner img {
  margin: 0 auto;
  display: block;
}

#detail-nav {
  height: 30px;
}
#detail-nav .inner {
  height: 30px;
  background-color: #3c4251;
  color: white;
  height: 30px;
  background-color: #3c4251;
  color: white;
  font-size: 14px;
  line-height: 30px;
}
#detail-nav .inner ul {
  display: block;
  float: left;
}
#detail-nav .inner ul li {
  display: block;
  float: left;
  height: 30px;
  padding-left: 39px;
  line-height: 30px;
  padding-right: 39px;
}
#detail-nav .inner p {
  display: block;
  float: right;
  height: 30px;
  width: 70px;
  background-color: #606982;
  color: white;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

#content {
  height: 21492px;
  overflow: hidden;
}
#content .inner {
  height: 21492px;
}
#content .inner .road {
  color: #8e8e8e;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content .inner .road a:hover {
  color: red;
}
#content .inner #magnifier, #content .inner #summary, #content .inner #seller, #content .inner #introduce, #content .inner #explain {
  display: block;
  float: left;
}
#content .inner #magnifier {
  width: 424px;
  height: 534px;
  position: relative;
}
#content .inner #magnifier .left {
  width: 424px;
}
#content .inner #magnifier .left #big, #content .inner #magnifier .left .small, #content .inner #magnifier .left .tip {
  width: 422px;
}
#content .inner #magnifier .left #big {
  width: 422px;
  height: 422px;
  border: 1px solid #dadada;
  position: relative;
}
#content .inner #magnifier .left #big img {
  width: 422px;
  height: 422px;
}
#content .inner #magnifier .left .small {
  height: 80px;
  overflow: hidden;
}
#content .inner #magnifier .left .small ul li {
  margin-top: 10px;
  background: url("../image/detail/detail.png") no-repeat 0px -80px;
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
#content .inner #magnifier .left .small ul li img {
  width: 58px;
  height: 58px;
  margin-top: 1px;
  margin-left: 1px;
}
#content .inner #magnifier .left .tip {
  height: 20px;
  color: #8e8e8e;
  font-size: 14px;
}
#content .inner #magnifier .left .tip a {
  line-height: 20px;
  display: block;
  float: left;
  padding-left: 16px;
}
#content .inner #magnifier .left .tip a div {
  height: 13px;
  width: 13px;
  display: block;
  float: left;
  margin-top: 3px;
  background: url("../image/detail/detail.png") no-repeat -156px -154px;
}
#content .inner #magnifier .left .tip .store {
  float: right;
}
#content .inner #magnifier .left .tip .store div {
  background: url("../image/detail/detail.png") no-repeat -178px -154px;
}
#content .inner #summary {
  height: 530px;
  width: 534px;
  margin-left: 20px;
}
#content .inner #summary .sum-div1 {
  height: 100px;
  width: 530px;
  margin-top: 15px;
  background: url("../image/detail/detail.png") no-repeat 0 -261px;
}
#content .inner #summary .sum-div1 a {
  display: block;
  float: left;
  height: 20px;
  color: #8e8e8e;
  line-height: 20px;
}
#content .inner #summary .sum-div1 .product-id {
  float: right;
  margin-right: 8px;
}
#content .inner #summary .sum-div1 .market-pri, #content .inner #summary .sum-div1 .product-id, #content .inner #summary .sum-div1 .price, #content .inner #summary .sum-div1 .discount {
  margin-top: 10px;
}
#content .inner #summary .sum-div1 .price, #content .inner #summary .sum-div1 .market-pri {
  margin-left: 8px;
}
#content .inner #summary .sum-div1 .price, #content .inner #summary .sum-div1 .discount {
  clear: both;
}
#content .inner #summary .sum-div1 .price span, #content .inner #summary .sum-div1 .discount span {
  color: #e7381c;
  font-weight: bold;
  font-size: 20px;
}
#content .inner #summary .sum-div1 .discount {
  margin-left: 54px;
}
#content .inner #summary .send, #content .inner #summary .sum-div2, #content .inner #summary .color, #content .inner #summary .size, #content .inner #summary .count {
  margin-left: 5px;
  color: #8e8e8e;
  margin-bottom: 15px;
}
#content .inner #summary .send {
  margin-top: 10px;
}
#content .inner #summary .send span {
  color: black;
}
#content .inner #summary .sum-div2 {
  border-top: 1px dotted #8e8e8e;
  border-bottom: 1px dotted #8e8e8e;
}
#content .inner #summary .sum-div2 ul {
  height: 36px;
  line-height: 36px;
}
#content .inner #summary .sum-div2 ul li {
  display: block;
  float: left;
  height: 20px;
  width: 172px;
  margin-top: 9px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-right: 1px dotted #8e8e8e;
}
#content .inner #summary .sum-div2 ul li span {
  color: #e7381c;
}
#content .inner #summary .sum-div2 ul .xiebi {
  border-right: none;
}
#content .inner #summary .color p, #content .inner #summary .size p, #content .inner #summary .count p {
  display: block;
  float: left;
  width: 54px;
}
#content .inner #summary .color {
  height: 40px;
  line-height: 40px;
}
#content .inner #summary .color ul {
  height: 40px;
}
#content .inner #summary .color ul li {
  height: 36px;
  width: 36px;
  margin-right: 6px;
  border: 1px solid #8e8e8e;
  display: block;
  float: left;
}
#content .inner #summary .color ul li img {
  width: 36px;
  height: 36px;
  border: none;
}
#content .inner #summary .size {
  height: 30px;
  line-height: 30px;
}
#content .inner #summary .size ul {
  height: 30px;
}
#content .inner #summary .size ul li {
  display: block;
  float: left;
  height: 30px;
  width: 40px;
  margin-right: 6px;
  border: 1px solid #8e8e8e;
  text-align: center;
}
#content .inner #summary .count {
  height: 30px;
  line-height: 30px;
  margin-bottom: 32px;
}
#content .inner #summary .count button, #content .inner #summary .count input {
  display: block;
  float: left;
  outline: none;
}
#content .inner #summary .count button {
  height: 30px;
  width: 30px;
  border: none;
}
#content .inner #summary .count input {
  outline: none;
  height: 28px;
  width: 48px;
  font-size: 12px;
  line-height: 28px;
  border: solid 1px #8e8e8e;
  text-align: center;
}
#content .inner #summary .count .minus {
  background: url("../image/detail/minus1.jpg") no-repeat;
}
#content .inner #summary .count .plus {
  background: url("../image/detail/plus2.jpg") no-repeat;
}
#content .inner #summary .buy, #content .inner #summary .push, #content .inner #summary .buy-way {
  display: block;
  float: left;
  margin-right: 10px;
}
#content .inner #summary .buy, #content .inner #summary .push {
  height: 40px;
  width: 180px;
  color: white;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
#content .inner #summary .buy {
  background-color: #cc0000;
  margin-left: 50px;
}
#content .inner #summary .push {
  background-color: #da720e;
}
#content .inner #summary .buy-way {
  height: 40px;
  line-height: 40px;
}
#content .inner #seller {
  height: 818px;
  width: 198px;
  margin-left: 20px;
  border: 1px solid #cccccc;
  border-top: solid 2px #f2f2f2;
}
#content .inner #seller .logo, #content .inner #seller .shop-info, #content .inner #seller .shop-acti, #content .inner #seller .shop-say, #content .inner #seller .see-goods, #content .inner #seller .store-good {
  width: 170px;
  margin-left: 9px;
  padding-left: 10px;
  display: block;
}
#content .inner #seller .logo {
  height: 48px;
  line-height: 48px;
  border-bottom: solid 1px #ccc;
}
#content .inner #seller .shop-info {
  height: 128px;
  border-bottom: dotted 1px #ccc;
}
#content .inner #seller .shop-info .rongyu {
  margin-top: 20px;
}
#content .inner #seller .shop-info .kefu {
  margin-top: 14px;
}
#content .inner #seller .shop-info button {
  border: solid 1px #ccc;
  height: 29px;
  width: 70px;
  margin-top: 20px;
  background-color: #fafafa;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  margin-right: 15px;
  display: block;
  float: left;
  outline: none;
}
#content .inner #seller .shop-acti {
  height: 78px;
  border-bottom: dotted 1px #ccc;
  color: #826c60;
}
#content .inner #seller .shop-acti p {
  margin-top: 20px;
}
#content .inner #seller .shop-acti li {
  margin-top: 15px;
}
#content .inner #seller .shop-say {
  height: 136px;
  color: #826c60;
}
#content .inner #seller .shop-say p {
  margin-top: 15px;
}
#content .inner #seller .see-goods {
  height: 220px;
}
#content .inner #seller .see-goods .good-img {
  height: 160px;
  width: 160px;
  margin-top: 25px;
  overflow: hidden;
  background: url("../image/detail/goods1.jpg") no-repeat;
}
#content .inner #seller .see-goods .good-img .good-price {
  display: block;
  height: 20px;
  width: 160px;
  background-color: white;
  color: black;
  font-size: 10px;
  line-height: 20px;
  margin-top: 140px;
  opacity: 0.5;
  text-align: center;
}
#content .inner #seller .store-goods {
  height: 193px;
}
#content .inner #seller .store-goods p {
  margin-top: 28px;
  text-align: center;
}
#content .inner #introduce {
  width: 975px;
  height: 240px;
  margin-top: -270px;
  position: relative;
}
#content .inner #introduce .intro-top {
  width: 975px;
  height: 38px;
}
#content .inner #introduce .intro-top #spxq, #content .inner #introduce .intro-top #yhpl, #content .inner #introduce .intro-top #spare, #content .inner #introduce .intro-top #gwbz, #content .inner #introduce .intro-top #zfps {
  margin-top: 3px;
  border-top: solid 1px #cccccc;
  display: block;
  float: left;
  height: 34px;
  border-right: solid 1px #cccccc;
  width: 135px;
  line-height: 34px;
  text-align: center;
  border-bottom: solid 1px #cc0000;
}
#content .inner #introduce .intro-top #spxq {
  border: solid 1px #cc0000;
  border-bottom: none;
  margin-top: 0px;
  border-top: solid 3px #cc0000;
  height: 35px;
  color: #cc0000;
}
#content .inner #introduce .intro-top #spare {
  text-align: right;
  width: 429px;
}
#content .inner #introduce .intro-top #spare p {
  height: 35px;
  line-height: 35px;
}
#content .inner #introduce .intro-top #spare p img {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}
#content .inner #introduce .txt1 {
  position: absolute;
  top: 37px;
  display: none;
  width: 973px;
  height: 203px;
  border: solid 1px #cccccc;
  border-top: none;
}
#content .inner #introduce .txt1 ul {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 60px;
}
#content .inner #introduce .txt1 ul li {
  line-height: 20px;
}
#content .inner #introduce .txt1 img {
  width: 950px;
  height: 185px;
  margin-top: 5px;
  margin-left: 5px;
}
#content .inner #explain {
  width: 965px;
  background-color: #fafafa;
}
#content .inner #explain .flow {
  display: block;
  float: left;
  margin-top: 30px;
}
#content .inner #explain .brief, #content .inner #explain .kstj {
  display: block;
  float: right;
}

/*# sourceMappingURL=detail.css.map */
