body {
  overflow-x: hidden;
}

#container {
  height: 4614px;
}

#carousel, #activity, #womanShop, #sportShop, #manShop, #outdoorShop, #clotheShop, #childShop, #focus, #trifle {
  width: 100%;
}
#carousel div, #activity div, #womanShop div, #sportShop div, #manShop div, #outdoorShop div, #clotheShop div, #childShop div, #focus div, #trifle div {
  width: 1200px;
  margin: 0 auto;
}

#carousel {
  height: 390px;
  margin-top: 36px;
}
#carousel div {
  height: 390px;
  position: relative;
  overflow: hidden;
  width: 1263px;
}
#carousel div ul {
  position: absolute;
}
#carousel div ul li {
  display: block;
  float: left;
}
#carousel div .c-album1 {
  top: 0px;
  left: 0px;
  height: 390px;
  width: 8841px;
  z-index: -1;
}
#carousel div .c-album1 li {
  height: 390px;
  width: 1263px;
}
#carousel div .c-album2 {
  bottom: 15px;
  left: 250px;
  height: 13px;
}
#carousel div .c-album2 li {
  height: 13px;
  width: 13px;
  margin-left: 5px;
  background-color: white;
}
#carousel div .c-album2 li:hover {
  background-color: #e7381c;
}
#carousel div #butleft, #carousel div #butright {
  display: none;
  height: 80px;
  width: 40px;
  z-index: 2;
  position: absolute;
  top: 195px;
  margin-top: -40px;
  opacity: 0.5;
  background: url("../image/left&right.png") no-repeat 0px 0px;
}
#carousel div #butleft {
  left: 20px;
}
#carousel div #butright {
  background-position: 0 -81px;
  right: 20px;
}

#activity {
  height: 330px;
}
#activity .inner {
  position: relative;
}
#activity .inner .a-head {
  margin-left: 210px;
}
#activity .inner .a-head {
  height: 30px;
  width: 990px;
  background-color: #e6e1e1;
}
#activity .inner .a-head ul {
  display: block;
  float: left;
  width: 402px;
  height: 30px;
}
#activity .inner .a-head ul li {
  display: block;
  float: left;
  height: 30px;
  width: 134px;
  font-size: 14px;
}
#activity .inner .a-head ul li:hover {
  background-color: white;
}
#activity .inner .a-head ul li a {
  display: block;
  height: 14px;
  width: 133px;
  margin-top: 8px;
  font-size: 14px;
  border-right: 1px solid #cccccc;
  text-align: center;
}
#activity .inner .a-head button {
  display: block;
  float: right;
  margin-right: 7px;
  height: 20px;
  width: 46px;
  margin-top: 5px;
  background-color: white;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #cccccc;
}
#activity .inner .a-head button:hover {
  color: #e7381c;
  border: 1px solid #e7381c;
}
#activity .inner .a-bottom1, #activity .inner .a-bottom2, #activity .inner .a-bottom3 {
  position: absolute;
  top: 30px;
  left: 210px;
  width: 988px;
  height: 299px;
  border: 1px solid #cccccc;
  border-top: none;
  overflow: hidden;
}
#activity .inner .a-bottom1 table, #activity .inner .a-bottom2 table, #activity .inner .a-bottom3 table {
  height: 281px;
  width: 970px;
  margin-top: 9px;
  margin-left: 9px;
  border-collapse: collapse;
  border: none;
}
#activity .inner .a-bottom1 table td, #activity .inner .a-bottom2 table td, #activity .inner .a-bottom3 table td {
  width: 324px;
  height: 140px;
  border: 1px solid #cccccc;
}
#activity .inner .a-bottom1 table td dl, #activity .inner .a-bottom2 table td dl, #activity .inner .a-bottom3 table td dl {
  height: 120px;
}
#activity .inner .a-bottom1 table td dl dd, #activity .inner .a-bottom1 table td dl dt, #activity .inner .a-bottom2 table td dl dd, #activity .inner .a-bottom2 table td dl dt, #activity .inner .a-bottom3 table td dl dd, #activity .inner .a-bottom3 table td dl dt {
  display: block;
  float: left;
  height: 100px;
  width: 140px;
  margin-top: 20px;
  margin-left: 12px;
}
#activity .inner .a-bottom1 table td dl dd, #activity .inner .a-bottom2 table td dl dd, #activity .inner .a-bottom3 table td dl dd {
  width: 104px;
}
#activity .inner .a-bottom1 table td dl dd a, #activity .inner .a-bottom2 table td dl dd a, #activity .inner .a-bottom3 table td dl dd a {
  display: block;
}
#activity .inner .a-bottom1 table td dl dd .a-price, #activity .inner .a-bottom2 table td dl dd .a-price, #activity .inner .a-bottom3 table td dl dd .a-price {
  height: 22px;
  width: 104px;
  margin-left: 12px;
  color: #e7381c;
  font-size: 8px;
}
#activity .inner .a-bottom1 table td dl dd .a-price span, #activity .inner .a-bottom2 table td dl dd .a-price span, #activity .inner .a-bottom3 table td dl dd .a-price span {
  font-weight: bold;
  font-size: 20px;
}
#activity .inner .a-bottom1 table td dl dd .a-original, #activity .inner .a-bottom2 table td dl dd .a-original, #activity .inner .a-bottom3 table td dl dd .a-original {
  height: 8px;
  width: 104px;
  margin-top: 6px;
  margin-left: 12px;
  color: #cccccc;
  font-size: 8px;
}
#activity .inner .a-bottom1 table td dl dd .a-name, #activity .inner .a-bottom2 table td dl dd .a-name, #activity .inner .a-bottom3 table td dl dd .a-name {
  height: 12px;
  width: 104px;
  margin-top: 6px;
  margin-left: 12px;
  color: #cccccc;
  font-size: 12px;
}
#activity .inner .a-bottom1 table td dl dd .a-slogan, #activity .inner .a-bottom2 table td dl dd .a-slogan, #activity .inner .a-bottom3 table td dl dd .a-slogan {
  height: 30px;
  width: 104px;
  margin-top: 6px;
  background-color: #e7381c;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
#activity .inner .a-bottom1 table .a-shoe1, #activity .inner .a-bottom1 table .a-shoe2, #activity .inner .a-bottom1 table .a-shoe3, #activity .inner .a-bottom2 table .a-shoe1, #activity .inner .a-bottom2 table .a-shoe2, #activity .inner .a-bottom2 table .a-shoe3, #activity .inner .a-bottom3 table .a-shoe1, #activity .inner .a-bottom3 table .a-shoe2, #activity .inner .a-bottom3 table .a-shoe3 {
  border-top: none;
}
#activity .inner .a-bottom1 table .a-shoe4, #activity .inner .a-bottom1 table .a-shoe5, #activity .inner .a-bottom1 table .a-shoe6, #activity .inner .a-bottom2 table .a-shoe4, #activity .inner .a-bottom2 table .a-shoe5, #activity .inner .a-bottom2 table .a-shoe6, #activity .inner .a-bottom3 table .a-shoe4, #activity .inner .a-bottom3 table .a-shoe5, #activity .inner .a-bottom3 table .a-shoe6 {
  border-bottom: none;
}
#activity .inner .a-bottom1 table .a-shoe1, #activity .inner .a-bottom1 table .a-shoe4, #activity .inner .a-bottom2 table .a-shoe1, #activity .inner .a-bottom2 table .a-shoe4, #activity .inner .a-bottom3 table .a-shoe1, #activity .inner .a-bottom3 table .a-shoe4 {
  border-left: none;
}
#activity .inner .a-bottom1 table .a-shoe3, #activity .inner .a-bottom1 table .a-shoe6, #activity .inner .a-bottom2 table .a-shoe3, #activity .inner .a-bottom2 table .a-shoe6, #activity .inner .a-bottom3 table .a-shoe3, #activity .inner .a-bottom3 table .a-shoe6 {
  border-right: none;
}
#activity .inner .a-bottom2, #activity .inner .a-bottom3 {
  display: none;
}

#womanShop, #sportShop, #manShop, #outdoorShop, #clotheShop, #childShop {
  height: 450px;
  margin-top: 20px;
}
#womanShop div, #sportShop div, #manShop div, #outdoorShop div, #clotheShop div, #childShop div {
  height: 450px;
}
#womanShop div .kind, #womanShop div .intro, #sportShop div .kind, #sportShop div .intro, #manShop div .kind, #manShop div .intro, #outdoorShop div .kind, #outdoorShop div .intro, #clotheShop div .kind, #clotheShop div .intro, #childShop div .kind, #childShop div .intro {
  width: 1200px;
}
#womanShop div .kind, #sportShop div .kind, #manShop div .kind, #outdoorShop div .kind, #clotheShop div .kind, #childShop div .kind {
  height: 36px;
}
#womanShop div .kind ul, #womanShop div .kind button, #sportShop div .kind ul, #sportShop div .kind button, #manShop div .kind ul, #manShop div .kind button, #outdoorShop div .kind ul, #outdoorShop div .kind button, #clotheShop div .kind ul, #clotheShop div .kind button, #childShop div .kind ul, #childShop div .kind button {
  display: block;
  float: right;
}
#womanShop div .kind .shop-name, #sportShop div .kind .shop-name, #manShop div .kind .shop-name, #outdoorShop div .kind .shop-name, #clotheShop div .kind .shop-name, #childShop div .kind .shop-name {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  font-size: 18px;
  line-height: 36px;
}
#womanShop div .kind .shop-name img, #sportShop div .kind .shop-name img, #manShop div .kind .shop-name img, #outdoorShop div .kind .shop-name img, #clotheShop div .kind .shop-name img, #childShop div .kind .shop-name img {
  display: block;
  float: left;
}
#womanShop div .kind ul, #sportShop div .kind ul, #manShop div .kind ul, #outdoorShop div .kind ul, #clotheShop div .kind ul, #childShop div .kind ul {
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  margin-right: 5px;
}
#womanShop div .kind ul li, #sportShop div .kind ul li, #manShop div .kind ul li, #outdoorShop div .kind ul li, #clotheShop div .kind ul li, #childShop div .kind ul li {
  display: block;
  float: left;
  height: 12px;
  margin-top: 12px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 12px;
  padding-right: 8px;
  border-right: 1px solid #cccccc;
}
#womanShop div .kind ul li:hover, #sportShop div .kind ul li:hover, #manShop div .kind ul li:hover, #outdoorShop div .kind ul li:hover, #clotheShop div .kind ul li:hover, #childShop div .kind ul li:hover {
  color: #e7381c;
}
#womanShop div .kind ul li .kind-end, #sportShop div .kind ul li .kind-end, #manShop div .kind ul li .kind-end, #outdoorShop div .kind ul li .kind-end, #clotheShop div .kind ul li .kind-end, #childShop div .kind ul li .kind-end {
  border: none;
}
#womanShop div .kind button, #sportShop div .kind button, #manShop div .kind button, #outdoorShop div .kind button, #clotheShop div .kind button, #childShop div .kind button {
  margin-right: 0px;
  height: 20px;
  width: 46px;
  margin-top: 9px;
  background-color: white;
  color: #cccccc;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #cccccc;
}
#womanShop div .kind button:hover, #sportShop div .kind button:hover, #manShop div .kind button:hover, #outdoorShop div .kind button:hover, #clotheShop div .kind button:hover, #childShop div .kind button:hover {
  color: #e7381c;
  border: 1px solid #e7381c;
}
#womanShop div .intro, #sportShop div .intro, #manShop div .intro, #outdoorShop div .intro, #clotheShop div .intro, #childShop div .intro {
  height: 408px;
  border-top: 4px solid #cccccc;
}
#womanShop div .intro .left, #womanShop div .intro .middle, #womanShop div .intro .right, #sportShop div .intro .left, #sportShop div .intro .middle, #sportShop div .intro .right, #manShop div .intro .left, #manShop div .intro .middle, #manShop div .intro .right, #outdoorShop div .intro .left, #outdoorShop div .intro .middle, #outdoorShop div .intro .right, #clotheShop div .intro .left, #clotheShop div .intro .middle, #clotheShop div .intro .right, #childShop div .intro .left, #childShop div .intro .middle, #childShop div .intro .right {
  height: 408px;
  display: block;
  float: left;
}
#womanShop div .intro .left, #sportShop div .intro .left, #manShop div .intro .left, #outdoorShop div .intro .left, #clotheShop div .intro .left, #childShop div .intro .left {
  width: 210px;
}
#womanShop div .intro .middle, #sportShop div .intro .middle, #manShop div .intro .middle, #outdoorShop div .intro .middle, #clotheShop div .intro .middle, #childShop div .intro .middle {
  width: 730px;
  height: 408px;
}
#womanShop div .intro .middle table, #sportShop div .intro .middle table, #manShop div .intro .middle table, #outdoorShop div .intro .middle table, #clotheShop div .intro .middle table, #childShop div .intro .middle table {
  border: none;
  border-collapse: collapse;
}
#womanShop div .intro .middle table td, #sportShop div .intro .middle table td, #manShop div .intro .middle table td, #outdoorShop div .intro .middle table td, #clotheShop div .intro .middle table td, #childShop div .intro .middle table td {
  width: 242px;
  border: solid 1px #cccccc;
  position: relative;
}
#womanShop div .intro .middle table td dl, #sportShop div .intro .middle table td dl, #manShop div .intro .middle table td dl, #outdoorShop div .intro .middle table td dl, #clotheShop div .intro .middle table td dl, #childShop div .intro .middle table td dl {
  position: relative;
  width: 225px;
  margin-top: 15px;
  margin-left: 15px;
}
#womanShop div .intro .middle table td dl dt, #womanShop div .intro .middle table td dl dd, #sportShop div .intro .middle table td dl dt, #sportShop div .intro .middle table td dl dd, #manShop div .intro .middle table td dl dt, #manShop div .intro .middle table td dl dd, #outdoorShop div .intro .middle table td dl dt, #outdoorShop div .intro .middle table td dl dd, #clotheShop div .intro .middle table td dl dt, #clotheShop div .intro .middle table td dl dd, #childShop div .intro .middle table td dl dt, #childShop div .intro .middle table td dl dd {
  width: 215px;
}
#womanShop div .intro .middle table td dl .p3, #sportShop div .intro .middle table td dl .p3, #manShop div .intro .middle table td dl .p3, #outdoorShop div .intro .middle table td dl .p3, #clotheShop div .intro .middle table td dl .p3, #childShop div .intro .middle table td dl .p3 {
  font-size: 20px;
  font-weight: bold;
  color: #c82f27;
}
#womanShop div .intro .middle table td dl .p2, #womanShop div .intro .middle table td dl .p1, #sportShop div .intro .middle table td dl .p2, #sportShop div .intro .middle table td dl .p1, #manShop div .intro .middle table td dl .p2, #manShop div .intro .middle table td dl .p1, #outdoorShop div .intro .middle table td dl .p2, #outdoorShop div .intro .middle table td dl .p1, #clotheShop div .intro .middle table td dl .p2, #clotheShop div .intro .middle table td dl .p1, #childShop div .intro .middle table td dl .p2, #childShop div .intro .middle table td dl .p1 {
  color: #8e8e8e;
  font-size: 14px;
}
#womanShop div .intro .middle table td dl .p1, #sportShop div .intro .middle table td dl .p1, #manShop div .intro .middle table td dl .p1, #outdoorShop div .intro .middle table td dl .p1, #clotheShop div .intro .middle table td dl .p1, #childShop div .intro .middle table td dl .p1 {
  color: #4c4c4c;
}
#womanShop div .intro .middle table .td1, #womanShop div .intro .middle table .td2, #womanShop div .intro .middle table .td3, #sportShop div .intro .middle table .td1, #sportShop div .intro .middle table .td2, #sportShop div .intro .middle table .td3, #manShop div .intro .middle table .td1, #manShop div .intro .middle table .td2, #manShop div .intro .middle table .td3, #outdoorShop div .intro .middle table .td1, #outdoorShop div .intro .middle table .td2, #outdoorShop div .intro .middle table .td3, #clotheShop div .intro .middle table .td1, #clotheShop div .intro .middle table .td2, #clotheShop div .intro .middle table .td3, #childShop div .intro .middle table .td1, #childShop div .intro .middle table .td2, #childShop div .intro .middle table .td3 {
  height: 273px;
  border-top: none;
}
#womanShop div .intro .middle table .td1 dl, #womanShop div .intro .middle table .td2 dl, #womanShop div .intro .middle table .td3 dl, #sportShop div .intro .middle table .td1 dl, #sportShop div .intro .middle table .td2 dl, #sportShop div .intro .middle table .td3 dl, #manShop div .intro .middle table .td1 dl, #manShop div .intro .middle table .td2 dl, #manShop div .intro .middle table .td3 dl, #outdoorShop div .intro .middle table .td1 dl, #outdoorShop div .intro .middle table .td2 dl, #outdoorShop div .intro .middle table .td3 dl, #clotheShop div .intro .middle table .td1 dl, #clotheShop div .intro .middle table .td2 dl, #clotheShop div .intro .middle table .td3 dl, #childShop div .intro .middle table .td1 dl, #childShop div .intro .middle table .td2 dl, #childShop div .intro .middle table .td3 dl {
  height: 252px;
}
#womanShop div .intro .middle table .td1 dl dt, #womanShop div .intro .middle table .td2 dl dt, #womanShop div .intro .middle table .td3 dl dt, #sportShop div .intro .middle table .td1 dl dt, #sportShop div .intro .middle table .td2 dl dt, #sportShop div .intro .middle table .td3 dl dt, #manShop div .intro .middle table .td1 dl dt, #manShop div .intro .middle table .td2 dl dt, #manShop div .intro .middle table .td3 dl dt, #outdoorShop div .intro .middle table .td1 dl dt, #outdoorShop div .intro .middle table .td2 dl dt, #outdoorShop div .intro .middle table .td3 dl dt, #clotheShop div .intro .middle table .td1 dl dt, #clotheShop div .intro .middle table .td2 dl dt, #clotheShop div .intro .middle table .td3 dl dt, #childShop div .intro .middle table .td1 dl dt, #childShop div .intro .middle table .td2 dl dt, #childShop div .intro .middle table .td3 dl dt {
  height: 165px;
}
#womanShop div .intro .middle table .td1 dl dd, #womanShop div .intro .middle table .td2 dl dd, #womanShop div .intro .middle table .td3 dl dd, #sportShop div .intro .middle table .td1 dl dd, #sportShop div .intro .middle table .td2 dl dd, #sportShop div .intro .middle table .td3 dl dd, #manShop div .intro .middle table .td1 dl dd, #manShop div .intro .middle table .td2 dl dd, #manShop div .intro .middle table .td3 dl dd, #outdoorShop div .intro .middle table .td1 dl dd, #outdoorShop div .intro .middle table .td2 dl dd, #outdoorShop div .intro .middle table .td3 dl dd, #clotheShop div .intro .middle table .td1 dl dd, #clotheShop div .intro .middle table .td2 dl dd, #clotheShop div .intro .middle table .td3 dl dd, #childShop div .intro .middle table .td1 dl dd, #childShop div .intro .middle table .td2 dl dd, #childShop div .intro .middle table .td3 dl dd {
  height: 85px;
}
#womanShop div .intro .middle table .td4, #womanShop div .intro .middle table .td5, #womanShop div .intro .middle table .td6, #sportShop div .intro .middle table .td4, #sportShop div .intro .middle table .td5, #sportShop div .intro .middle table .td6, #manShop div .intro .middle table .td4, #manShop div .intro .middle table .td5, #manShop div .intro .middle table .td6, #outdoorShop div .intro .middle table .td4, #outdoorShop div .intro .middle table .td5, #outdoorShop div .intro .middle table .td6, #clotheShop div .intro .middle table .td4, #clotheShop div .intro .middle table .td5, #clotheShop div .intro .middle table .td6, #childShop div .intro .middle table .td4, #childShop div .intro .middle table .td5, #childShop div .intro .middle table .td6 {
  height: 134px;
}
#womanShop div .intro .middle table .td4 img, #womanShop div .intro .middle table .td5 img, #womanShop div .intro .middle table .td6 img, #sportShop div .intro .middle table .td4 img, #sportShop div .intro .middle table .td5 img, #sportShop div .intro .middle table .td6 img, #manShop div .intro .middle table .td4 img, #manShop div .intro .middle table .td5 img, #manShop div .intro .middle table .td6 img, #outdoorShop div .intro .middle table .td4 img, #outdoorShop div .intro .middle table .td5 img, #outdoorShop div .intro .middle table .td6 img, #clotheShop div .intro .middle table .td4 img, #clotheShop div .intro .middle table .td5 img, #clotheShop div .intro .middle table .td6 img, #childShop div .intro .middle table .td4 img, #childShop div .intro .middle table .td5 img, #childShop div .intro .middle table .td6 img {
  margin-left: 119px;
}
#womanShop div .intro .middle table .td4 .p4, #womanShop div .intro .middle table .td4 .p5, #womanShop div .intro .middle table .td4 .p6, #womanShop div .intro .middle table .td5 .p4, #womanShop div .intro .middle table .td5 .p5, #womanShop div .intro .middle table .td5 .p6, #womanShop div .intro .middle table .td6 .p4, #womanShop div .intro .middle table .td6 .p5, #womanShop div .intro .middle table .td6 .p6, #sportShop div .intro .middle table .td4 .p4, #sportShop div .intro .middle table .td4 .p5, #sportShop div .intro .middle table .td4 .p6, #sportShop div .intro .middle table .td5 .p4, #sportShop div .intro .middle table .td5 .p5, #sportShop div .intro .middle table .td5 .p6, #sportShop div .intro .middle table .td6 .p4, #sportShop div .intro .middle table .td6 .p5, #sportShop div .intro .middle table .td6 .p6, #manShop div .intro .middle table .td4 .p4, #manShop div .intro .middle table .td4 .p5, #manShop div .intro .middle table .td4 .p6, #manShop div .intro .middle table .td5 .p4, #manShop div .intro .middle table .td5 .p5, #manShop div .intro .middle table .td5 .p6, #manShop div .intro .middle table .td6 .p4, #manShop div .intro .middle table .td6 .p5, #manShop div .intro .middle table .td6 .p6, #outdoorShop div .intro .middle table .td4 .p4, #outdoorShop div .intro .middle table .td4 .p5, #outdoorShop div .intro .middle table .td4 .p6, #outdoorShop div .intro .middle table .td5 .p4, #outdoorShop div .intro .middle table .td5 .p5, #outdoorShop div .intro .middle table .td5 .p6, #outdoorShop div .intro .middle table .td6 .p4, #outdoorShop div .intro .middle table .td6 .p5, #outdoorShop div .intro .middle table .td6 .p6, #clotheShop div .intro .middle table .td4 .p4, #clotheShop div .intro .middle table .td4 .p5, #clotheShop div .intro .middle table .td4 .p6, #clotheShop div .intro .middle table .td5 .p4, #clotheShop div .intro .middle table .td5 .p5, #clotheShop div .intro .middle table .td5 .p6, #clotheShop div .intro .middle table .td6 .p4, #clotheShop div .intro .middle table .td6 .p5, #clotheShop div .intro .middle table .td6 .p6, #childShop div .intro .middle table .td4 .p4, #childShop div .intro .middle table .td4 .p5, #childShop div .intro .middle table .td4 .p6, #childShop div .intro .middle table .td5 .p4, #childShop div .intro .middle table .td5 .p5, #childShop div .intro .middle table .td5 .p6, #childShop div .intro .middle table .td6 .p4, #childShop div .intro .middle table .td6 .p5, #childShop div .intro .middle table .td6 .p6 {
  margin-left: 15px;
}
#womanShop div .intro .middle table .td4 .p4, #womanShop div .intro .middle table .td5 .p4, #womanShop div .intro .middle table .td6 .p4, #sportShop div .intro .middle table .td4 .p4, #sportShop div .intro .middle table .td5 .p4, #sportShop div .intro .middle table .td6 .p4, #manShop div .intro .middle table .td4 .p4, #manShop div .intro .middle table .td5 .p4, #manShop div .intro .middle table .td6 .p4, #outdoorShop div .intro .middle table .td4 .p4, #outdoorShop div .intro .middle table .td5 .p4, #outdoorShop div .intro .middle table .td6 .p4, #clotheShop div .intro .middle table .td4 .p4, #clotheShop div .intro .middle table .td5 .p4, #clotheShop div .intro .middle table .td6 .p4, #childShop div .intro .middle table .td4 .p4, #childShop div .intro .middle table .td5 .p4, #childShop div .intro .middle table .td6 .p4 {
  margin-top: 15px;
}
#womanShop div .intro .middle table .td4 .p6, #womanShop div .intro .middle table .td5 .p6, #womanShop div .intro .middle table .td6 .p6, #sportShop div .intro .middle table .td4 .p6, #sportShop div .intro .middle table .td5 .p6, #sportShop div .intro .middle table .td6 .p6, #manShop div .intro .middle table .td4 .p6, #manShop div .intro .middle table .td5 .p6, #manShop div .intro .middle table .td6 .p6, #outdoorShop div .intro .middle table .td4 .p6, #outdoorShop div .intro .middle table .td5 .p6, #outdoorShop div .intro .middle table .td6 .p6, #clotheShop div .intro .middle table .td4 .p6, #clotheShop div .intro .middle table .td5 .p6, #clotheShop div .intro .middle table .td6 .p6, #childShop div .intro .middle table .td4 .p6, #childShop div .intro .middle table .td5 .p6, #childShop div .intro .middle table .td6 .p6 {
  color: #e7381c;
  font-weight: bold;
}
#womanShop div .intro .middle table .td1, #womanShop div .intro .middle table .td4, #sportShop div .intro .middle table .td1, #sportShop div .intro .middle table .td4, #manShop div .intro .middle table .td1, #manShop div .intro .middle table .td4, #outdoorShop div .intro .middle table .td1, #outdoorShop div .intro .middle table .td4, #clotheShop div .intro .middle table .td1, #clotheShop div .intro .middle table .td4, #childShop div .intro .middle table .td1, #childShop div .intro .middle table .td4 {
  border-left: none;
}
#womanShop div .intro .right, #sportShop div .intro .right, #manShop div .intro .right, #outdoorShop div .intro .right, #clotheShop div .intro .right, #childShop div .intro .right {
  width: 260px;
  background-color: #f3f3f3;
}

#focus {
  height: 310px;
  margin-top: 20px;
}
#focus div {
  height: 310px;
}
#focus div .f-head, #focus div .f-bottom {
  width: 1200px;
}
#focus div .f-head {
  height: 36px;
}
#focus div .f-head ul {
  width: 1200px;
  height: 36px;
  position: relative;
}
#focus div .f-head ul li {
  display: block;
  float: left;
  position: absolute;
  background: url("../image/f-square.jpg") no-repeat 0px 14px;
}
#focus div .f-head ul li a, #focus div .f-head ul li span {
  display: block;
  float: left;
  line-height: 36px;
  height: 36px;
  margin-left: 8px;
}
#focus div .f-head ul li a {
  font-size: 14px;
  font-weight: bold;
}
#focus div .f-head ul li span {
  font-size: 12px;
  color: #cccccc;
}
#focus div .f-head ul li:hover {
  color: #e7381c;
}
#focus div .f-head ul li:hover span {
  color: #e7381c;
}
#focus div .f-head ul .f-li1 {
  left: 12px;
}
#focus div .f-head ul .f-li2 {
  left: 613px;
}
#focus div .f-head ul .f-li3 {
  left: 930px;
}
#focus div .f-bottom {
  height: 273px;
  border: 1px solid #cccccc;
}
#focus div .f-bottom div {
  display: block;
  float: left;
  height: 273px;
  border-right: 1px solid #cccccc;
}
#focus div .f-bottom .connect {
  width: 605px;
}
#focus div .f-bottom .media {
  width: 295px;
  padding-left: 10px;
  padding-right: 10px;
}
#focus div .f-bottom .media dl, #focus div .f-bottom .media ul {
  width: 295px;
}
#focus div .f-bottom .media dl {
  height: 80px;
  margin-top: 20px;
  height: 88px;
  width: 292px;
  margin-top: 20px;
}
#focus div .f-bottom .media dl dt, #focus div .f-bottom .media dl dd {
  display: block;
  float: left;
}
#focus div .f-bottom .media dl dd {
  width: 192px;
  margin-left: 4px;
}
#focus div .f-bottom .media dl dd a {
  display: block;
  float: left;
  font-size: 14px;
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}
#focus div .f-bottom .media ul {
  height: 140px;
  border-top: 1px #cccccc dotted;
  margin-top: 18px;
}
#focus div .f-bottom .media ul li {
  list-style: disc;
  width: 292px;
  margin-top: 10px;
  margin-left: 12px;
  color: #292d37;
}
#focus div .f-bottom .media ul li:hover {
  color: #e7381c;
}
#focus div .f-bottom .media ul li span {
  display: block;
  float: right;
  margin-right: 10px;
}
#focus div .f-bottom .interact {
  border-right: none;
  width: 278px;
}
#focus div .f-bottom .interact div {
  height: 55px;
  width: 244px;
  margin-left: 17px;
  padding-top: 10px;
  border-top: 1px dashed #cccccc;
  border-right: none;
}
#focus div .f-bottom .interact div img, #focus div .f-bottom .interact div a, #focus div .f-bottom .interact div button {
  display: block;
  float: left;
}
#focus div .f-bottom .interact div a {
  height: 40px;
  width: 115px;
  color: #292d37;
  margin-top: 10px;
}
#focus div .f-bottom .interact div button {
  height: 24px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #8ddb00;
  color: white;
  font-size: 12px;
  line-height: 24px;
  outline: none;
  border: 1px solid #4ec000;
  border-radius: 3px;
}
#focus div .f-bottom .interact .way2 {
  margin-top: 10px;
  border-top: none;
}

#trifle {
  height: 172px;
  margin-top: 12px;
}
#trifle div {
  height: 172px;
}
#trifle div .tr-square, #trifle div .tr-square1 {
  display: block;
  float: left;
  height: 170px;
  width: 188px;
  margin-right: 12px;
  border: 1px solid #cccccc;
  text-align: center;
}
#trifle div .tr-square p, #trifle div .tr-square img, #trifle div .tr-square ul, #trifle div .tr-square1 p, #trifle div .tr-square1 img, #trifle div .tr-square1 ul {
  display: block;
  float: left;
}
#trifle div .tr-square p, #trifle div .tr-square1 p {
  height: 16px;
  width: 188px;
  margin-top: 22px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
}
#trifle div .tr-square img, #trifle div .tr-square1 img {
  margin-top: 20px;
  margin-left: 71px;
}
#trifle div .tr-square ul, #trifle div .tr-square1 ul {
  height: 45px;
  width: 80px;
  margin-top: 10px;
}
#trifle div .tr-square ul li:hover, #trifle div .tr-square1 ul li:hover {
  color: #e7381c;
}
#trifle div .tr-square .tr-ul1, #trifle div .tr-square1 .tr-ul1 {
  margin-left: 15px;
  border-right: 1px solid #cccccc;
}
#trifle div .tr-square .tr-ul1 li, #trifle div .tr-square1 .tr-ul1 li {
  width: 70px;
  text-align: right;
  margin-right: 10px;
}
#trifle div .tr-square .tr-ul2 li, #trifle div .tr-square1 .tr-ul2 li {
  width: 70px;
  text-align: left;
  margin-left: 10px;
}
#trifle div .tr-square1 {
  margin-right: 0px;
}

/*# sourceMappingURL=index.css.map */
