* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

#shop-car {
  width: 100%;
}
#shop-car .inner {
  width: 983px;
  margin: 0 auto;
}

#shop-car .inner {
  padding-top: 24px;
}
#shop-car .inner .top {
  width: 983px;
  height: 25px;
}
#shop-car .inner .top h1, #shop-car .inner .top p {
  display: block;
  float: left;
}
#shop-car .inner .top .count {
  margin-top: 12px;
}
#shop-car .inner .top .alarm, #shop-car .inner .top img {
  display: block;
  float: right;
  height: 25px;
  line-height: 30px;
}
#shop-car .inner .general {
  height: 32px;
  width: 983px;
  margin-top: 5px;
  background-color: #edeaea;
  color: #8e8e8e;
  line-height: 32px;
  border-top: solid 2px #b5b5b5;
}
#shop-car .inner .general .all {
  margin-left: 16px;
}
#shop-car .inner .general .name {
  margin-left: 200px;
}
#shop-car .inner .general .price {
  margin-left: 189px;
}
#shop-car .inner .general .amount {
  margin-left: 126px;
}
#shop-car .inner .general .price2 {
  margin-left: 85px;
}
#shop-car .inner .general .operate {
  margin-left: 60px;
}
#shop-car .inner #goods {
  width: 983px;
  padding-top: 20px;
  margin-bottom: 20px;
}
#shop-car .inner #goods .order {
  width: 983px;
  height: 172px;
}
#shop-car .inner #goods .order .first {
  width: 983px;
  height: 22px;
  line-height: 22px;
}
#shop-car .inner #goods .order .first .a1 {
  color: blue;
  margin-left: 8px;
  font-size: 14px;
  line-height: 22px;
}
#shop-car .inner #goods .order .first .a1:hover {
  text-decoration: underline;
}
#shop-car .inner #goods .order .second {
  width: 981px;
  height: 140px;
  border: solid 1px #ccc;
}
#shop-car .inner #goods .order .second .benefit {
  width: 981px;
  height: 36px;
  background-color: #edeaea;
  overflow: hidden;
}
#shop-car .inner #goods .order .second .benefit .adv {
  height: 24px;
  width: 112px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  color: red;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border: 1px solid lightpink;
  border-radius: 2px;
  display: block;
}
#shop-car .inner #goods .order .second .text {
  width: 981px;
  height: 102px;
  position: relative;
}
#shop-car .inner #goods .order .second .text .ckb2, #shop-car .inner #goods .order .second .text .img1, #shop-car .inner #goods .order .second .text .explain {
  display: block;
  float: left;
}
#shop-car .inner #goods .order .second .text .ckb2 {
  margin-left: 10px;
  margin-top: 50px;
}
#shop-car .inner #goods .order .second .text .img1 {
  border: 1px solid #ccc;
  width: 80px;
  height: 80px;
  margin-top: 11px;
  margin-left: 10px;
}
#shop-car .inner #goods .order .second .text .explain {
  height: 80px;
  width: 310px;
  margin-top: 11px;
  margin-left: 20px;
  position: relative;
}
#shop-car .inner #goods .order .second .text .explain .p1 {
  width: 310px;
  height: 12px;
  line-height: 20px;
}
#shop-car .inner #goods .order .second .text .explain .a2, #shop-car .inner #goods .order .second .text .explain .a3 {
  display: block;
  position: absolute;
  top: 60px;
  left: 10px;
  height: 12px;
}
#shop-car .inner #goods .order .second .text .explain .a3 {
  left: 82px;
}
#shop-car .inner #goods .order .second .text .a4 {
  display: block;
  position: absolute;
  font-weight: bold;
  top: 40px;
  left: 500px;
  height: 12px;
}
#shop-car .inner .general2 {
  height: 42px;
  width: 983px;
  margin-top: 10px;
  background-color: #edeaea;
  color: #8e8e8e;
  line-height: 42px;
}
#shop-car .inner .general2 .all {
  margin-left: 16px;
}
#shop-car .inner .general2 .del, #shop-car .inner .general2 .continue {
  margin-left: 8px;
}
#shop-car .inner .general2 .chosen {
  margin-left: 365px;
}
#shop-car .inner .general2 .chosen .span1, #shop-car .inner .general2 .chosen .span2 {
  color: #f34e0f;
}
#shop-car .inner .general2 .chosen .span2 {
  font-size: 18px;
  font-weight: bold;
}
#shop-car .inner .general2 .pay {
  display: block;
  float: right;
  border: none;
  outline: none;
  height: 42px;
  width: 160px;
  background-color: #f34e0f;
  color: white;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
}

/*# sourceMappingURL=shopcar.css.map */
