* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

#header, #bottom {
  width: 100%;
}
#header .inner, #bottom .inner {
  width: 983px;
  margin: 0 auto;
}

#header {
  height: 90px;
  background: url("../image/shopcar/blackline1.jpg") repeat-x left bottom;
}
#header .inner {
  height: 90px;
}
#header .inner .logo {
  display: block;
  float: left;
  height: 70px;
  width: 205px;
  margin-top: 10px;
  background: url("../image/shopcar/shopcar.png") no-repeat -115px -117px;
}
#header .inner .base-info {
  display: block;
  float: right;
  width: 402px;
  height: 85px;
}
#header .inner .base-info p {
  float: right;
  margin-top: 16px;
}
#header .inner .base-info p .manage, #header .inner .base-info p .exit {
  color: blue;
}
#header .inner .base-info .flow {
  float: right;
  height: 42px;
  width: 402px;
  margin-top: 10px;
  position: relative;
}
#header .inner .base-info .flow ul {
  width: 402px;
  height: 42px;
}
#header .inner .base-info .flow ul li {
  width: 134px;
  height: 42px;
  position: relative;
  text-align: center;
  display: block;
  float: left;
}
#header .inner .base-info .flow ul li hr {
  margin-top: 10px;
  height: 1px;
  background-color: #cccccc;
}
#header .inner .base-info .flow ul li a {
  position: absolute;
  top: 0px;
  left: 57px;
  text-align: center;
  height: 20px;
  width: 20px;
  background-color: #cccccc;
  color: white;
  line-height: 20px;
  border-radius: 50%;
}
#header .inner .base-info .flow ul li span {
  color: #8e8e8e;
}

#bottom {
  height: 132px;
  margin-top: 73px;
  border-top: 2px solid #ccc;
}
#bottom .inner {
  height: 132px;
}
#bottom .inner ul {
  height: 70px;
  width: 872px;
  margin-top: 20px;
  margin-left: 62px;
}
#bottom .inner ul li {
  display: block;
  float: left;
  width: 325px;
}
#bottom .inner ul li a {
  display: block;
  margin-bottom: 5px;
}
#bottom .inner ul li .a1 {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
#bottom .inner ul li .a2 {
  color: #8e8e8e;
}
#bottom .inner ul li .a3 {
  color: blue;
}
#bottom .inner ul .li3 {
  width: 200px;
}

#advertise {
  height: 64px;
}
#advertise div {
  height: 64px;
}
#advertise div #ad-div1 {
  height: 64px;
  width: 856px;
  margin-left: 0px;
  background-color: #fcfcfc;
  position: relative;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#advertise div #ad-div1 img {
  margin-left: 5px;
}
#advertise div #ad-div1 img, #advertise div #ad-div1 li, #advertise div #ad-div1 a {
  display: block;
  float: left;
}
#advertise div #ad-div1 ul li {
  height: 66px;
  width: 66px;
  margin-left: 10px;
  text-align: center;
}
#advertise div #ad-div1 ul li a {
  height: 14px;
  width: 66px;
  margin-top: -14px;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0.5;
  display: block;
}
#advertise div #ad-div1 .ad-del {
  position: absolute;
  top: -6px;
  right: -6px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: white;
  color: orange;
  font-size: 8px;
  line-height: 12px;
}

/*# sourceMappingURL=shop.css.map */
