#top .t-adv .t-ablum2 li .display1 {
  height: 4px;
  background-color: #e7381c;
  margin-top: 0px;
}

#carousel div .c-album2 .display2 {
  background-color: #e7381c;
}

#nav div #down-list #nest .nest-shop ul .color1 {
  color: white;
  background-color: #fe7b41;
}
#nav div #down-list #nest .nest-shop ul .color1 a {
  color: white;
  background-color: #fe7b41;
}
#nav div #down-list #nest .nest-shop ul .color2 {
  color: white;
  background-color: #fd3089;
}
#nav div #down-list #nest .nest-shop ul .color2 a {
  color: white;
  background-color: #fd3089;
}
#nav div #down-list #nest .nest-shop ul .color3 {
  color: white;
  background-color: #336699;
}
#nav div #down-list #nest .nest-shop ul .color3 a {
  color: white;
  background-color: #336699;
}
#nav div #down-list #nest .nest-shop ul .color4 {
  color: white;
  background-color: #f59f0a;
}
#nav div #down-list #nest .nest-shop ul .color4 a {
  color: white;
  background-color: #f59f0a;
}
#nav div #down-list #nest .nest-shop ul .color5 {
  color: white;
  background-color: #f23029;
}
#nav div #down-list #nest .nest-shop ul .color5 a {
  color: white;
  background-color: #f23029;
}
#nav div #down-list #nest .nest-shop ul .color6 {
  color: white;
  background-color: #04b527;
}
#nav div #down-list #nest .nest-shop ul .color6 a {
  color: white;
  background-color: #04b527;
}
#nav div #down-list #nest .nest-shop ul .color7 {
  color: white;
  background-color: #e34242;
}
#nav div #down-list #nest .nest-shop ul .color7 a {
  color: white;
  background-color: #e34242;
}

#container #box #left .name .common, #container #box #left .pass .common, #container #box #left .pass2 .common {
  height: 38px;
  width: 288px;
  background-color: #eef9ff;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px #ddf3ff;
  border-left: none;
}

#container #box #left .name .right, #container #box #left .pass .right, #container #box #left .pass2 .right {
  height: 38px;
  width: 288px;
  background-color: #ccc;
  color: white;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px orange;
  border-left: none;
  result: right;
}

#container #box #left .name .wrong, #container #box #left .pass .wrong, #container #box #left .pass2 .wrong {
  height: 38px;
  width: 288px;
  background-color: #fdeaea;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px pink;
  border-left: none;
}

#content .inner #magnifier .left #big #square {
  display: none;
  cursor: move;
  visibility: visible;
  width: 211px;
  height: 211px;
  border: solid 1px #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FEDE4F;
  opacity: 0.2;
}

#content .inner #magnifier #shower {
  background: url(../image/detail/ddmf1-1.jpg) no-repeat 0px 0px;
  position: absolute;
  top: 0px;
  left: 423px;
  display: none;
  z-index: 2;
  width: 398px;
  height: 398px;
  border: solid 1px #ccc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

body {
  height: 652px;
  background-color: #f5f5f5;
}

#container {
  margin: 0 auto;
  height: 535px;
  width: 980px;
  margin-top: 35px;
}
#container #title {
  height: 57px;
  width: 980px;
  margin-bottom: 55px;
}
#container #title img, #container #title span {
  display: block;
  float: left;
}
#container #title span {
  border-left: 1px solid #cccccc;
  text-align: center;
  height: 28px;
  width: 99px;
  margin-top: 29px;
  margin-left: 20px;
  color: #333333;
  font-size: 18px;
  line-height: 28px;
}
#container #box {
  height: 423px;
  width: 978px;
  background-color: white;
  border: 1px solid #cccccc;
}
#container #box #left, #container #box #right {
  display: block;
  float: left;
  height: 285px;
  margin-top: 35px;
}
#container #box #left {
  width: 660px;
  margin-left: 40px;
}
#container #box #left .name, #container #box #left .pass, #container #box #left .pass2 {
  height: 40px;
  width: 660px;
  color: #333333;
  line-height: 40px;
  margin-bottom: 26px;
}
#container #box #left .name label, #container #box #left .name input, #container #box #left .name span, #container #box #left .name a, #container #box #left .pass label, #container #box #left .pass input, #container #box #left .pass span, #container #box #left .pass a, #container #box #left .pass2 label, #container #box #left .pass2 input, #container #box #left .pass2 span, #container #box #left .pass2 a {
  display: block;
  float: left;
}
#container #box #left .name label, #container #box #left .pass label, #container #box #left .pass2 label {
  text-align: right;
  width: 69px;
  color: #333333;
}
#container #box #left .name input, #container #box #left .pass input, #container #box #left .pass2 input {
  height: 36px;
  width: 288px;
  font-size: 14px;
  line-height: 36px;
}
#container #box #left .name a, #container #box #left .pass a, #container #box #left .pass2 a {
  width: 10px;
  height: 10px;
  margin-left: -15px;
  margin-top: 13px;
  display: none;
  background: url("../image/signup/signup.png") no-repeat -78px -106px;
}
#container #box #left .name span, #container #box #left .pass span, #container #box #left .pass2 span {
  height: 38px;
  width: 288px;
  background-color: #eef9ff;
  font-size: 12px;
  line-height: 38px;
  border: solid 1px #ddf3ff;
  border-left: none;
  display: none;
}
#container #box #left .pass2 {
  margin-bottom: 17px;
}
#container #box #left .commit {
  height: 73px;
  width: 295px;
  margin-left: 76px;
  color: #cccccc;
  font-size: 10px;
}
#container #box #left .commit a {
  color: blue;
  font-size: 10px;
}
#container #box #left .commit button {
  height: 40px;
  width: 295px;
  margin-top: 20px;
  background-color: #0487df;
  color: white;
  font-size: 16px;
  line-height: 40px;
  border: none;
  text-align: center;
}
#container #box #right {
  width: 180px;
  margin-left: 10px;
  border-left: 1px dashed #ccc;
}
#container #box #right span, #container #box #right p {
  margin-left: 30px;
  line-height: 23px;
  font-size: 12px;
}
#container #box #right p {
  margin-top: 13px;
  margin-bottom: 23px;
}
#container #box #right span, #container #box #right a {
  display: block;
  float: left;
}
#container #box #right a {
  height: 25px;
  width: 68px;
  margin-left: 4px;
  padding-left: 30px;
  background-color: #f76e2b;
  color: white;
  font-size: 12px;
  line-height: 25px;
  border-radius: 3px;
  background: url("../image/paixiewang2.png") no-repeat -118px 0;
}
#container .remark {
  height: 12px;
  margin-top: 32px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #333333;
}

/*# sourceMappingURL=signup.css.map */
